.ch-container {
    padding: 0 15px;
}

.sidebar-nav {
    border-radius: 0;
    box-shadow: 0 0 0;
    margin-left: -15px;
}

.sidebar-nav {
    margin-left: -15px;
}

.hotel-name {
    background: #D32F2F;
    font-size: 18px;
    padding: 15px;
    color: #ffffff;
}

.nav-canvas {
    background: #F44336;
}
.nav-pills > li > a {
    border-radius: 0;
    border: none;
    color: #ffffff;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background: #D32F2F;    
    color: #FFA000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #ef5350;
    color: #ffffff;
}

.navbar {
    background: #ffffff;
    border: none;
    margin: 0;
}

.navbar-inner {
    border: none;
    height: auto;
    padding: 7px 0 0;
}

.navbar-inner .btn-group {
    margin: 0;
}

.navbar-brand {
    width: inherit;
}

ul.main-menu li.active {
    margin-left: 0;
}

.col.no-padding-left {
    padding-left: 0!important;
}

.col.no-padding-right {
    padding-right: 0!important;
}


.col.no-padding {
    padding: 0!important;
}

/* BOX */
.box-inner {
    box-shadow: 0 0 0;
}

.box-header {
    background: #dddddd;
}

/* FOOTER */
footer {
    background: #dadada;
    clear: both;
    padding: 15px;
    margin-top: 20px;
}

footer > * {
    margin-bottom: 0;
}