/* variables */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,600,700);
/***********************************
 GLOBAL
 ***********************************/
body {
  font: 13px "Cabin", sans-serif;
  color: #45403f; }

.lite-grey-bg {
  background: #f5f5f5; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px; }

h5 {
  font-size: 22px; }

h1 {
  color: #66777f;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px; }

h2 {
  font-size: 20px; }

a {
  color: #c90600;
  /*text-decoration: underline;*/ }

a:hover {
  color: #c90600;
  text-decoration: none; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.red-text {
  color: #c90600; }

.stuck {
  position: fixed;
  transition: all 0.5s;
  z-index: 100;
  top: 0; }

/***********************************
 ELEMENT: HEADER
 ***********************************/
.header {
  background: #ffffff;
  border: none;
  color: #ffffff;
  height: 61px;
  margin-bottom: 0; }
  .header .container {
    padding: 0; }
  .header .navbar-brand {
    background: transparent url(../images/logo.png) 0 center no-repeat;
    color: #ffffff;
    float: left;
    font-size: 18px;
    line-height: 50px;
    margin-left: 15px;
    padding: 0  5px;
    text-indent: -999999px;
    width: 130px;
    height: 61px; }
    .header .navbar-brand:hover {
      color: #ffffff; }
  .header .navbar-brand span {
    font-weight: 500; }
  .header .navbar-toggle {
    border: none;
    border-radius: 0;
    border-right: 1px solid #9a0500;
    color: #ffffff;
    float: left;
    height: 55px;
    margin: 0;
    padding: 0 15px; }
    .header .navbar-toggle:hover, .header .navbar-toggle:focus {
      background: none; }
    .header .navbar-toggle .icon-bar {
      background: #ffffff; }

.navbar-toggle .icon-bar {
  width: 19px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px; }

.search-header-container {
  margin: 0;
  padding: 10px; }

.navbar {
  border-radius: 0; }

.below-nav {
  margin-top: -20px;
  margin-bottom: 15px; }
  .below-nav.search-container {
    background: #b70f00;
    color: #ffffff; }

.navbar-default .navbar-nav > li {
  background-image: url(../images/menu-separator.png);
  background-position: right 0;
  background-repeat: repeat-y; }
  .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:active, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li.open > a, .navbar-default .navbar-nav > li.open > a:focus {
    background: none;
    color: #666666; }
  .navbar-default .navbar-nav > li > a {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    transition: all 0.4s; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #666666; }
  .navbar-default .navbar-nav > li > a.recently-seen {
    background: transparent url(../images/history.jpg) 0 center no-repeat;
    padding-left: 25px; }
  .navbar-default .navbar-nav > li .dropdown-menu {
    left: 0;
    right: auto;
    transition: all 0.2s; }

#navbar .btn-group {
  padding-top: 14px;
  margin-left: 10px; }
#navbar .caret {
  margin-left: 10px; }
#navbar .glyphicon,
#navbar .fa {
  font-size: 12px;
  margin-right: 5px; }

.navbar .flag {
  margin-right: 2px; }

/***********************************
 SLIDESHOW HOMEPAGE
 ***********************************/
.homepage-hero {
  position: relative; }
  .homepage-hero .homepage-slideshow {
    position: relative;
    overflow: hidden;
    z-index: 10; }
  .homepage-hero .slideshow-image-container {
    max-height: 470px;
    overflow: hidden; }
    .homepage-hero .slideshow-image-container img {
      height: 100%;
      width: auto; }
  .homepage-hero .slideshow-description {
    padding: 20px 0;
    position: relative; }
    .homepage-hero .slideshow-description .triangle {
      background: transparent url(../images/kancut.png) 0 0 no-repeat;
      display: block;
      position: absolute;
      top: -34px;
      left: 10px;
      width: 30px;
      height: 14px; }
    .homepage-hero .slideshow-description h2 {
      margin: 0 0 5px; }
    .homepage-hero .slideshow-description .description {
      line-height: 22px;
      margin-bottom: 5px; }
  .homepage-hero .lower-price-container {
    margin-top: 45px;
    padding: 15px 0; }

.search-container {
  top: 120px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 100; }
  .search-container .heading {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2em; }
    .search-container .heading span {
      color: #f4cb00; }
  .search-container .subheading {
    color: #ffffff;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 110px; }
  .search-container .search-form-item {
    /*margin-bottom: 15px;*/ }
  .search-container .btn-search {
    border: none;
    border-radius: 0 4px 4px 0;
    box-shadow: none;
    background: #c90600;
    color: #ffffff;
    font-weight: 600;
    height: 50px;
    display: block;
    font-size: 13px;
    margin: 0;
    padding: 10px 40px; }

.btn-search {
  border: none;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
  background: #c90600;
  color: #ffffff;
  font-weight: 600;
  height: 50px;
  display: block;
  font-size: 13px;
  margin: 0;
  padding: 10px 40px; }
  .btn-search:hover {
    background: #c90600;
    color: #ffffff; }

.search-group {
  position: relative; }
  .search-group > div {
    padding: 0;
    position: relative;
    z-index: 2; }
  .search-group .form-control {
    background: #ffffff;
    border: none;
    border-radius: 0;
    color: #6e6e6e;
    font-size: 15px;
    height: 50px;
    width: 100%; }
  .search-group #srch-term {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #e1dfd4;
    padding-left: 20px; }
  .search-group .search-result-container {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    display: none;
    left: 0;
    max-height: 200px;
    position: absolute;
    right: 66px;
    top: 47px;
    overflow-y: scroll;
    padding-top: 3px;
    z-index: 1; }
    .search-group .search-result-container ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0; }
      .search-group .search-result-container ul li {
        border-bottom: 1px solid #e4e2d8;
        color: #333333;
        cursor: pointer;
        font-size: 15px;
        line-height: 1.2em;
        padding: 15px 20px;
        transition: all 0.2s; }
      .search-group .search-result-container ul li:hover {
        background: #f0cd18; }
    .search-group .search-result-container.active {
      display: block;
      overflow: inherit; }

.check-in-out-container {
  position: relative; }
  .check-in-out-container .check-in-container,
  .check-in-out-container .check-out-container {
    width: 50%;
    float: left; }
  .check-in-out-container input {
    font-size: 13px;
    text-align: center;
    width: 100%; }
  .check-in-out-container .input-datepicker {
    font-size: 13px !important; }

.form-group {
  margin-bottom: 0; }

.calendar-element {
  background: #ffffff url("../images/icon-calendar.png") no-repeat scroll 0 0;
  display: block;
  width: 18px;
  height: 19px;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -11px;
  position: absolute; }

.check-in-input {
  padding-right: 18px; }

.check-out-input {
  padding-left: 15px; }

.guests-select {
  background: #ffffff url("../images/icon-arrow-down.png") no-repeat scroll right center;
  padding-right: 30px; }

.slideshow-paging {
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: 380px;
  z-index: 100; }
  .slideshow-paging > span {
    background: transparent url(../images/pager-sprites.png) 0 0 no-repeat;
    display: inline-block;
    width: 18px;
    height: 36px;
    text-indent: -99999px; }
  .slideshow-paging > span.cycle-pager-active {
    background-position: right 0; }

/***********************************
 BELOW HERO
 ***********************************/
.below-hero {
  background: #f2f2f2;
  margin-bottom: 50px;
  padding: 45px 0; }
  .below-hero h3 {
    color: #c90600;
    font-size: 23px;
    margin-bottom: 15px;
    line-height: 40px; }
    .below-hero h3 img {
      margin-top: -4px; }
  .below-hero p {
    color: #666666;
    font-size: 14px;
    line-height: 1.4em; }

.center-heading-container {
  color: #333333;
  margin-bottom: 45px; }
  .center-heading-container h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px; }
  .center-heading-container h4 {
    color: #666666;
    font-weight: normal;
    font-size: 14px; }

.top-destination-container {
  margin-bottom: 30px; }

.top-destination-item {
  cursor: pointer;
  margin-bottom: 30px;
  position: relative; }
  .top-destination-item img {
    width: 100%; }
  .top-destination-item .overlay {
    background: #000000;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    opacity: 0;
    transition: all 0.4s;
    z-index: 1; }
  .top-destination-item .description {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    margin-top: -25px;
    z-index: 2; }
    .top-destination-item .description h4 {
      font-weight: 700;
      font-size: 23px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .top-destination-item .description .total {
      border-top: 2px solid #ffffff;
      display: inline-block;
      font-weight: 700;
      font-size: 17px;
      padding-top: 5px; }

.top-destination-item:hover .overlay {
  opacity: 0.4; }

.banner-container img {
  width: 100%; }

/***********************************
 SEARCH RESULT PAGE
 ***********************************/
.search-result-text-container {
  background: #f5f5f5;
  font-size: 14px;
  padding: 25px 0; }

.more-search-container {
  background: #7c0d09;
  max-height: 0;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 0;
  transition: all 0.3s; }
  .more-search-container .container {
    position: relative; }
  .more-search-container .search-group {
    /*margin: 20px 0;*/ }
  .more-search-container.in-homepage .search-group .search-result-container {
    right: 31px; }
  .more-search-container .search-group .search-result-container {
    right: 0; }
  .more-search-container.active {
    max-height: 90px;
    padding: 20px 0; }
  .more-search-container.active.predictive-active {
    overflow: inherit; }
  .more-search-container .btn-search {
    display: block;
    width: 100%; }

.open-change-date {
  margin-left: 15px; }

.triangle-container {
  background: transparent url(../images/triangle-2.png) right 0 no-repeat;
  bottom: -25px;
  display: block;
  height: 10px;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 25px;
  width: 19px;
  transition: all 0.1s; }
  .triangle-container.active {
    opacity: 1; }

.search-result-page .daterangepicker.openscenter {
  left: 537px !important; }

.search-result-page .daterangepicker.openscenter::before,
.search-result-page .daterangepicker.openscenter::after {
  right: -60px; }

.hotel-lists .banner-container {
  margin-bottom: 20px; }
.hotel-lists .hotel-item {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  cursor: pointer;
  display: table;
  margin-bottom: 20px;
  width: 100%; }
  .hotel-lists .hotel-item .image-container {
    display: table-cell;
    padding: 15px 20px 15px 15px;
    width: 190px;
    vertical-align: top; }
    .hotel-lists .hotel-item .image-container img {
      width: 100%;
      height: auto; }
  .hotel-lists .hotel-item .description-container {
    display: table-cell;
    padding: 15px 0;
    width: auto;
    vertical-align: top; }
    .hotel-lists .hotel-item .description-container .hotel-name {
      color: #2e2e2e;
      font-size: 20px;
      line-height: 1.1em;
      margin-bottom: 9px;
      padding-right: 20px; }
    .hotel-lists .hotel-item .description-container .hotel-price-container {
      border-top: 1px solid #e3e3e3;
      margin-top: 5px;
      padding: 15px 20px 0 0; }
      .hotel-lists .hotel-item .description-container .hotel-price-container .price {
        color: #c90600;
        font-size: 18px;
        float: left;
        line-height: 41px; }

.button-choose-room {
  background: transparent url(../images/btn-go-room.png) 0 0 no-repeat;
  color: #ffffff;
  display: block;
  font-size: 14px;
  float: right;
  text-align: left;
  padding-left: 23px;
  width: 168px;
  height: 41px;
  line-height: 41px; }

.star-rating-container {
  border: 1px solid #f1c900;
  border-radius: 12px;
  display: inline-block;
  height: 24px;
  margin-bottom: 5px;
  padding: 5px 7px; }
  .star-rating-container .star {
    background: #ffffff url(../images/icon-star.png) 0 0 no-repeat;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 2px; }

.hotel-type {
  background: transparent url(../images/icon-hotel-type.png) 0 0 no-repeat;
  color: #999999;
  float: left;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  width: 80px;
  padding-left: 20px; }

.location {
  background: transparent url(../images/icon-location.png) 0 0 no-repeat;
  color: #999999;
  float: left;
  font-size: 14px;
  line-height: 17px;
  width: 240px;
  padding-left: 20px; }

.side-menu .header-container {
  background: #f5f5f5;
  color: #2e2e2e;
  height: 40px;
  padding: 0 25px; }
  .side-menu .header-container h3 {
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase; }

.accordion-container {
  margin-bottom: 1px; }
  .accordion-container .accordion-header {
    background: #f1c900 url(../images/icon-accordion-close.png) 25px 13px no-repeat;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 0 25px 0 50px;
    line-height: 40px; }
  .accordion-container .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s; }
  .accordion-container.opened .accordion-header {
    background: #f1c900 url(../images/icon-accordion-open.png) 25px 15px no-repeat; }
  .accordion-container.opened .accordion-body {
    max-height: 500px; }

ul.checkbox {
  padding: 0;
  list-style: 0; }
  ul.checkbox li {
    background: transparent url(../images/checkbox-0.gif) 25px 3px no-repeat;
    cursor: pointer;
    padding: 0 0 0 50px;
    margin-bottom: 10px; }
  ul.checkbox li:hover {
    background-image: url(../images/checkbox-2.gif); }
  ul.checkbox li.checked {
    background-image: url(../images/checkbox-1.gif); }

ul.radio {
  padding: 0;
  list-style: 0; }
  ul.radio li {
    background: transparent url(../images/radio-0.gif) 25px 3px no-repeat;
    cursor: pointer;
    padding: 0 0 0 50px;
    margin-bottom: 10px; }
  ul.radio li:hover {
    background-image: url(../images/radio-2.gif); }
  ul.radio li.checked {
    background-image: url(../images/radio-1.gif); }

.sort-tabs-header {
  background: #f5f5f5;
  color: #2e2e2e;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin: 0 0 18px;
  line-height: 40px; }
  .sort-tabs-header h3 {
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    margin: 0 25px 0 0;
    text-transform: uppercase; }
  .sort-tabs-header .sort-tab {
    float: left;
    padding: 0;
    list-style: none; }
    .sort-tabs-header .sort-tab li {
      border-right: 1px solid #ffffff;
      cursor: pointer;
      float: left;
      padding: 0 25px;
      line-height: 40px;
      font-weight: 600;
      position: relative;
      transition: all 0.1s; }
    .sort-tabs-header .sort-tab li:hover {
      background: #faeead; }
    .sort-tabs-header .sort-tab li.active {
      background: #f1c900; }
    .sort-tabs-header .sort-tab li.active .arrow {
      background: transparent url(../images/arrow-yellow.gif) 0 0 no-repeat;
      display: block;
      height: 6px;
      bottom: -6px;
      left: 50%;
      margin-left: -5px;
      position: absolute;
      width: 11px; }

.pagination-container {
  background: #f5f5f5;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px; }
  .pagination-container .prev {
    cursor: pointer;
    float: left;
    margin-right: 30px; }
  .pagination-container .next {
    cursor: pointer;
    float: right;
    margin-left: 30px; }
  .pagination-container ul.pagination-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    float: left; }
    .pagination-container ul.pagination-list li {
      cursor: pointer;
      display: inline-block;
      padding: 0 10px; }
    .pagination-container ul.pagination-list li.active {
      background: #ffffff;
      color: #c90600; }

/***********************************
 ROOM DETAIL PAGE
 ***********************************/
.breadcrumb {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0; }
  .breadcrumb a {
    background: transparent url(../images/chevron-yellow.gif) right 4px no-repeat;
    padding-right: 15px;
    margin-right: 8px; }

.hotel-header-row {
  margin-bottom: 20px; }
  .hotel-header-row h1 {
    color: #2e2e2e;
    font-size: 25px;
    float: left;
    max-width: 70%;
    line-height: 26px; }
  .hotel-header-row .star-rating-container {
    float: left;
    margin-left: 10px;
    margin-top: 1px; }

.hotel-tab {
  border: 1px solid #e3e3e3;
  display: table;
  font-size: 14px;
  list-style: none;
  margin-bottom: 2px;
  padding: 0;
  width: 100%; }
  .hotel-tab li {
    display: table-cell;
    width: 20%;
    padding: 0;
    line-height: 30px; }
    .hotel-tab li a {
      color: #2e2e2e;
      display: block;
      border-right: 1px solid #e3e3e3;
      line-height: 30px; }
      .hotel-tab li a:hover {
        color: #c90600; }
  .hotel-tab li:last-child a {
    border: none; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.hotel-image-description-container {
  margin-bottom: 45px; }
  .hotel-image-description-container .slideshow-container #image-big div {
    width: 100%; }
  .hotel-image-description-container .slideshow-container #image-big img {
    width: 100%;
    height: auto; }
  .hotel-image-description-container .slideshow-container .slideshow-thumb-container {
    display: flex;
    height: 44px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4px;
    padding: 0 12px; }
    .hotel-image-description-container .slideshow-container .slideshow-thumb-container #image-thumb {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 90%; }
      .hotel-image-description-container .slideshow-container .slideshow-thumb-container #image-thumb > div {
        float: left;
        margin: 0 4px; }
        .hotel-image-description-container .slideshow-container .slideshow-thumb-container #image-thumb > div img {
          border: 3px solid #ffffff;
          cursor: pointer; }
      .hotel-image-description-container .slideshow-container .slideshow-thumb-container #image-thumb .cycle-slide-active img {
        border-color: #c90600; }
  .hotel-image-description-container .right-section {
    background: #f5f5f5;
    padding: 30px 20px;
    text-align: center; }
    .hotel-image-description-container .right-section .button-choose-room {
      float: none;
      margin: 0 auto 25px; }
    .hotel-image-description-container .right-section .button-choose-room:hover {
      color: #ffffff; }

#prev-slide {
  background: transparent url(../images/btn-prev-slideshow.gif) 0 0 no-repeat;
  cursor: pointer;
  display: block;
  margin-top: 13px;
  width: 10px;
  height: 18px; }

#next-slide {
  background: transparent url(../images/btn-next-slideshow.gif) 0 0 no-repeat;
  cursor: pointer;
  display: block;
  margin-top: 13px;
  width: 10px;
  height: 18px; }

.cycle-carousel-wrap {
  right: 0; }

.start-from {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px; }

.old-price {
  font-weight: bold; }

.price {
  color: #c90600;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px; }

.main-facilities {
  border: 1px solid #dddddd;
  border-radius: 6px;
  margin-bottom: 25px;
  padding: 15px 10px; }
  .main-facilities h3 {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 10px; }
  .main-facilities ul.facilities-list {
    padding: 0;
    list-style: none;
    text-align: center; }
    .main-facilities ul.facilities-list li {
      display: inline-block;
      margin: 0 3px; }

.tripadvisor h3 {
  color: #57912f;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px; }
.tripadvisor .tripadvisor-rating {
  background: transparent url(../images/burungantu.gif) 0 0 no-repeat;
  display: inline-block;
  height: 24px;
  margin: 0 auto 15px;
  padding-left: 40px;
  width: auto; }
  .tripadvisor .tripadvisor-rating .star {
    background: transparent url(../images/trip-star.gif) 0 0 no-repeat;
    float: left;
    display: block;
    margin-top: 2px;
    width: 17px;
    height: 17px; }
.tripadvisor .description {
  margin: 0 auto;
  width: 150px; }

.nearby-attraction-container {
  margin-bottom: 40px; }
  .nearby-attraction-container h2 {
    font-size: 24px;
    line-height: 1.2em; }
  .nearby-attraction-container ul.nearby-list {
    list-style: none;
    padding: 0; }
    .nearby-attraction-container ul.nearby-list li {
      background: transparent url(../images/check-small.gif) 0 1px no-repeat;
      color: #666666;
      float: left;
      font-weight: 500px;
      font-size: 14px;
      margin: 0 0 20px;
      width: 33.3%;
      padding-left: 20px; }

.banner-in-hotel-detail {
  margin-bottom: 20px; }

.room-availability-header-container {
  margin-bottom: 20px; }
  .room-availability-header-container h2 {
    font-size: 24px;
    line-height: 1.2em;
    margin: 0; }
  .room-availability-header-container .box-grey {
    color: #2e2e2e;
    font-size: 17px;
    padding: 18px 30px; }
  .room-availability-header-container .date-range {
    float: left; }

.box-grey {
  background: #f5f5f5; }

.room-list-container .header {
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  margin-bottom: 5px;
  padding: 0; }
  .room-list-container .header .item {
    float: left;
    border-right: 1px solid #e3e3e3;
    padding: 0 20px; }
  .room-list-container .header .room-type {
    width: 360px; }
  .room-list-container .header .max-guests {
    width: 110px; }
  .room-list-container .header .no-rooms {
    width: 135px; }
  .room-list-container .header .price-room {
    width: 195px; }
  .room-list-container .header .pernight-total {
    border: none;
    padding-left: 15px; }
  .room-list-container .header .option-pernight-total {
    list-style: none;
    font-size: 10px;
    padding: 0; }
    .room-list-container .header .option-pernight-total li {
      background: transparent url(../images/radio-small-0.gif) 0 center no-repeat;
      float: left;
      margin-bottom: 0;
      margin-top: -1px;
      padding-left: 17px;
      line-height: 1.2em; }
      .room-list-container .header .option-pernight-total li:hover {
        background-image: url(../images/radio-small-2.gif); }
      .room-list-container .header .option-pernight-total li.checked {
        background-image: url(../images/radio-small-1.gif); }
    .room-list-container .header .option-pernight-total li:first-child {
      margin-right: 5px; }

.room-item {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 15px; }
  .room-item h3 {
    color: #2e2e2e;
    font-size: 17px;
    margin: 0 0 5px; }
  .room-item .breakfast {
    background: transparent url(../images/icon-breakfast.gif) 0 -2px no-repeat;
    color: #999999;
    font-size: 10px;
    padding-left: 25px; }
    .room-item .breakfast.no-breakfast {
      background-position: 0 -15px; }
  .room-item .btn-room-detail .fa {
    margin-right: 2px; }
  .room-item .btn-room-detail .fa-chevron-up {
    display: none; }
  .room-item .btn-room-detail.opened .fa-chevron-down {
    display: none; }
  .room-item .room-type {
    width: 345px; }

/***********************************
ELEMENT: FORM
***********************************/
.form-control {
  box-shadow: 0 0 0; }
  .form-control:focus {
    border-color: #cccccc;
    box-shadow: 0 0 0; }

.btn-lup {
  border-left: none;
  color: #cccccc; }
  .btn-lup:hover, .btn-lup:focus {
    background: none;
    border-color: #cccccc;
    border-left: #ffffff 1px solid;
    color: #cccccc;
    cursor: inherit; }

.btn-red {
  background: #f50000 none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px #cccccc;
  color: #ffffff;
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%; }
  .btn-red:hover, .btn-red:focus, .btn-red:active {
    background: #db1a1a;
    color: #ffffff; }

.btn-yellow {
  background: #f4cb00;
  box-shadow: 0 2px 5px #cccccc;
  color: #c90600;
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  height: 45px;
  margin: 0 auto;
  padding: 0 25px; }
  .btn-yellow:hover {
    background: #ffef61;
    color: #c90600; }
  .btn-yellow:focus, .btn-yellow:active {
    background: #f5e131;
    color: #c90600; }

.btn-yellow2 {
  background: #f4cb00;
  box-shadow: 0 2px 5px #cccccc;
  color: #000000;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 45px;
  margin: 0 auto;
  padding: 0 25px; }
  .btn-yellow2:hover {
    background: #ffef61;
    color: #000000; }
  .btn-yellow2:focus, .btn-yellow2:active {
    background: #f5e131;
    color: #000000; }

.btn-yellow-small {
  background: #f4cb00;
  border-color: #f4cb00;
  color: #c90600; }
  .btn-yellow-small:hover {
    background: #ffef61;
    border-color: #ffef61;
    color: #c90600; }
  .btn-yellow-small:focus, .btn-yellow-small:active {
    background: #f5e131;
    border-color: #f5e131;
    color: #c90600; }

.btn-roomboz {
  border-radius: 4px;
  border: none;
  box-shadow: none; }

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  background: inherit; }

.col-xs-6.first-col {
  padding-right: 5px; }
.col-xs-6.second-col {
  padding-left: 5px; }

.disabled {
  border-color: #cccccc; }
  .disabled > * {
    /*opacity: 0.4;*/ }

.search-2-container {
  padding: 6px 15px 4px; }
  .search-2-container button {
    background: none;
    border: none;
    color: #ffffff;
    float: left;
    padding-left: 0;
    width: 25px; }
    .search-2-container button:hover {
      background: none;
      color: #ffffff; }
  .search-2-container .form-group {
    display: inherit !important;
    margin-bottom: 0;
    overflow: hidden; }
  .search-2-container input {
    background: transparent;
    border: none;
    border-radius: 0;
    color: #ffffff !important;
    height: 32px;
    padding: 0; }
  .search-2-container .form-control::-moz-placeholder {
    color: #ffffff; }

.form-inline .form-group {
  display: inline-block; }

.sort-tab-container {
  margin-bottom: 15px; }
  .sort-tab-container .btn {
    border-radius: 0;
    color: #c90600;
    font-size: 14px;
    padding: 3px 12px; }
    .sort-tab-container .btn:hover, .sort-tab-container .btn:active {
      background: #c90600;
      border-color: #c90600;
      color: #ffffff; }

/***********************************
ELEMENT: BODY TENGAH
***********************************/
.body-container {
  margin-bottom: 20px;
  min-height: 290px; }

.medium-heading {
  color: #c90600;
  font-size: 16px; }

.with-border-bottom {
  border-bottom: 1px solid #ededed; }

/***********************************
 HOMEPAGE
 ***********************************/
.homepage-left-section h3 {
  font-weight: normal;
  margin-bottom: 40px;
  padding-left: 20px; }

.feature-item {
  border-bottom: 1px solid #edf0f5;
  margin-bottom: 25px;
  padding-bottom: 25px; }
  .feature-item h4 {
    color: #243c7b;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px; }

.main-destination-item {
  border-bottom: 1px solid #edf0f5;
  margin-bottom: 5px;
  padding-bottom: 5px; }
  .main-destination-item > div {
    float: left; }
  .main-destination-item .destination-item-image-container {
    width: 155px; }
  .main-destination-item .destination-description {
    padding-top: 20px; }
    .main-destination-item .destination-description h2 {
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 10px; }
    .main-destination-item .destination-description h3 {
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 30px; }
  .main-destination-item:hover {
    background: #fffaea; }

.more-destination {
  margin-top: 10px; }
  .more-destination a {
    font-size: 16px;
    font-weight: 500px; }

/***********************************
ELEMENT: FOOTER
***********************************/
.footer-container {
  background: #f2f2f2 url(../images/bg-footer.jpg) 0 0 no-repeat;
  padding: 55px; }
  .footer-container .download-section {
    min-height: 290px; }
    .footer-container .download-section h5 {
      color: #333333;
      font-weight: bold;
      font-size: 23px;
      margin-bottom: 30px; }
  .footer-container h5 {
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px; }
  .footer-container ul.menu-footer {
    list-style: none;
    padding: 0; }
    .footer-container ul.menu-footer li {
      margin-bottom: 8px; }
    .footer-container ul.menu-footer a {
      color: #666666;
      font-size: 14px; }
    .footer-container ul.menu-footer a:hover {
      color: #b00c07; }
  .footer-container .footer-section {
    color: #666666;
    border-top: 2px solid #f1c900;
    margin-top: 25px;
    padding-top: 25px; }
    .footer-container .footer-section h6 {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 15px; }
    .footer-container .footer-section img {
      margin: 0 10px; }
    .footer-container .footer-section .socmed-section {
      margin-bottom: 20px; }

/***********************************
 ELEMENT: sliding container
 ***********************************/
.sliding-page-container {
  overflow: hidden;
  position: relative;
  width: 100%; }

.sliding-page-container .inner {
  width: 300%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.page {
  background: #f5f5f5;
  float: left;
  position: relative;
  width: 33.333%; }

/***********************************
ELEMENT: book container
***********************************/
.book-container {
  padding: 15px; }
  .book-container .btn {
    border: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

/***********************************
ELEMENT: datepicker
***********************************/
.datepicker-container {
  display: none;
  margin-bottom: 15px; }
  .datepicker-container#datepicker-checkin {
    display: block; }

.ui-datepicker-inline {
  width: 100%; }
  .ui-datepicker-inline.ui-widget-content {
    background: #ffffff;
    padding-left: 0;
    padding-right: 0; }
  .ui-datepicker-inline .ui-widget-header {
    background: #ffffff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #c90600;
    font-weight: normal;
    font-size: 14px; }
    .ui-datepicker-inline .ui-widget-header .ui-icon {
      background-image: url("images/ui-icons-hotelboz.png"); }
  .ui-datepicker-inline .ui-icon {
    height: 17px;
    width: 17px; }
  .ui-datepicker-inline .ui-icon-circle-triangle-w {
    background-position: -77px -189px; }
  .ui-datepicker-inline .ui-icon-circle-triangle-e {
    background-position: -46px -189px; }

.ui-datepicker-next-hover {
  background: none !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 0 !important;
  right: 2px !important;
  top: 2px !important; }

.ui-widget-content .ui-state:hover,
.ui-datepicker-prev-hover {
  background: none !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 0 !important;
  left: 2px !important;
  top: 2px !important; }

/* date */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: 1px solid #ffffff;
  color: #999999;
  font-weight: normal;
  text-align: center; }

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
  font-weight: normal; }

.ui-widget-content .ui-state-active {
  color: #c90600;
  font-weight: bold; }

.ui-autocomplete {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  border-top: medium none;
  left: 15px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  right: 16px;
  width: auto !important; }

/***********************************
 ELEMENT: DATERANGPICKER
 ***********************************/
.daterangepicker.openscenter {
  left: 583px !important; }

.daterangepicker.openscenter::before {
  right: -128px; }

.daterangepicker.openscenter::after {
  right: -128px; }

.daterangepicker th.month,
.prev .fa,
.next .fa {
  color: #c90600; }

.daterangepicker td.start-date.end-date {
  border-radius: 0; }

.daterangepicker td.active, .daterangepicker td.active:hover,
.daterangepicker td.in-range.end-date {
  background: #a00500; }

.daterangepicker td.in-range,
.daterangepicker td.available:hover {
  background: #c90600;
  color: #ffffff; }

.daterangepicker td.available:hover {
  background: #d94d49;
  color: #ffffff; }

.daterangepicker td.in-range.off.end-date {
  background: #ffffff; }

tbody td {
  font-size: 12px;
  line-height: 21px; }

/***********************************
 ELEMENT: LITEBOX
 ***********************************/
#cboxContent {
  margin-top: 0; }

#cboxLoadedContent {
  border: none; }

#cboxClose {
  display: none; }

.litebox-container {
  display: none; }

.litebox .header {
  line-height: 55px;
  font-weight: 500;
  font-size: 20px; }

.close-litebox {
  cursor: pointer;
  font-size: 26px;
  line-height: 55px; }

.litebox-body {
  overflow-y: auto; }

ul.sort-list {
  padding: 0;
  list-style: none; }
  ul.sort-list li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 15px 15px 45px; }
    ul.sort-list li.check {
      background: transparent url(../images/check.png) 15px 11px no-repeat; }
