/* variables */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500);
/***********************************
 GLOBAL
 ***********************************/
body {
  font: 13px "Roboto", sans-serif;
  color: #212121;
  position: relative;
  overflow-x: hidden; }

.lite-grey-bg {
  background: #f5f5f5; }

h1 {
  color: #66777f;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px; }

h2 {
  font-size: 20px; }

a {
  color: #e53935;
  /*text-decoration: underline;*/ }

a:hover {
  color: inherit; }

/***********************************
 ELEMENT: HEADER
 ***********************************/
.header {
  background: #c90600;
  border: none;
  color: #ffffff;
  height: 55px; }
  .header .container {
    padding: 0; }
  .header .navbar-brand {
    background: transparent url(../images/logo.png) 0 center no-repeat;
    color: #ffffff;
    float: left;
    font-size: 18px;
    line-height: 50px;
    margin-left: 15px;
    padding: 0  5px;
    text-indent: -999999px;
    width: 117px;
    height: 55px; }
    .header .navbar-brand:hover {
      color: #ffffff; }
  .header .navbar-brand span {
    font-weight: 500; }
  .header .navbar-toggle {
    border: none;
    border-radius: 0;
    border-right: 1px solid #9a0500;
    color: #ffffff;
    float: left;
    height: 55px;
    margin: 0;
    padding: 0 15px; }
    .header .navbar-toggle:hover, .header .navbar-toggle:focus {
      background: none; }
    .header .navbar-toggle .icon-bar {
      background: #ffffff; }

.navbar-toggle .icon-bar {
  width: 19px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px; }

.search-header-container {
  margin: 0;
  padding: 10px; }

.navbar {
  border-radius: 0; }

.below-nav {
  margin-top: -20px;
  margin-bottom: 15px; }
  .below-nav.search-container {
    background: #dc211c;
    color: #ffffff; }

/***********************************
 SIDE MENU
 ***********************************/
.sidr {
  background: #c90600;
  font-family: "Roboto", sans-serif;
  box-shadow: none;
  padding: 20px; }
  .sidr ul {
    border: none; }
  .sidr li {
    border: none !important; }
  .sidr li.active a,
  .sidr li:hover a {
    box-shadow: none !important;
    height: auto !important;
    line-height: 1em !important; }
  .sidr a {
    color: #ffffff !important;
    padding: 0 !important; }
  .sidr a:hover {
    height: auto !important; }
  .sidr .flag {
    float: right; }
  .sidr .copyright {
    color: #fb6d5f;
    font-size: 12px;
    margin-bottom: 20px; }

.sidr-open .navbar-toggle {
  border-left: 1px solid #9a0500; }

.sidr .list-sidemenu-1 {
  margin-bottom: 20px; }
  .sidr .list-sidemenu-1 li {
    background: #a80900;
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px; }
  .sidr .list-sidemenu-1 .currency > a > span {
    float: right; }
  .sidr .list-sidemenu-1 .submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s; }
  .sidr .list-sidemenu-1 .submenu.active {
    height: 65px; }
  .sidr .list-sidemenu-1 .submenu > li {
    padding: 15px 0 0 10px !important; }

.sidr .list-sidemenu-2 {
  border: 1px solid #b10a02; }
  .sidr .list-sidemenu-2 li {
    border-bottom: 1px solid #b10a02 !important;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px; }
  .sidr .list-sidemenu-2 li:last-child {
    border: none !important; }

/***********************************
 DETAIL HOTEL PAGE
 ***********************************/
.hotel-header-container {
  position: relative; }
  .hotel-header-container .hotel-image-container {
    max-height: 320px;
    overflow: hidden; }
  .hotel-header-container .hotel-image-container img {
    width: 100%;
    height: auto; }
  .hotel-header-container .slideshow img {
    display: none;
    opacity: 0; }
  .hotel-header-container .slideshow img:first-child {
    display: block;
    opacity: 1; }
  .hotel-header-container .slideshow img.cycle-slide {
    display: block;
    opacity: 1; }
  .hotel-header-container .hotel-text-container {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
    z-index: 100; }
    .hotel-header-container .hotel-text-container .col-text h1,
    .hotel-header-container .hotel-text-container .col-text h1 a {
      color: #ffffff;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.2em;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .hotel-header-container .tripadvisor-container {
    margin: 3px 0; }

.availability-container {
  background: #ffffff;
  color: #d32f2f;
  margin: -15px 0 15px;
  padding-top: 15px;
  padding-bottom: 15px; }
  .availability-container .availability-text {
    font-weight: 500;
    font-size: 15px;
    padding-left: 25px;
    position: relative; }
  .availability-container .availability-date {
    font-size: 15px;
    padding-left: 25px; }
  .availability-container .change-date-container a {
    color: #d32f2f;
    text-decoration: underline;
    font-size: 12px; }
  .availability-container .price-container {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px; }
  .availability-container .unavailable {
    color: #727272; }

.box .address {
  position: relative;
  padding-left: 20px; }

.icon3 {
  background: transparent url(../images/sprites3.png) 0 0 no-repeat;
  display: block;
  position: absolute;
  left: 0; }
  .icon3.icon-check {
    background-position: left top;
    height: 15px;
    width: 15px;
    top: 2px; }
  .icon3.icon-uncheck {
    background-position: left -15px;
    height: 15px;
    width: 15px;
    top: 2px; }
  .icon3.icon-pin {
    background-position: left bottom;
    height: 16px;
    width: 12px; }

/***********************************
 ROOM DETAIL PAGE
 ***********************************/
.heading-in-body {
  color: #455a64;
  font-size: 16px;
  margin: 0 0 15px; }

.price-room-container {
  color: #ffffff;
  font-size: 12px; }
  .price-room-container .price {
    font-size: 20px;
    margin-bottom: 5px; }

.book-container a:hover {
  text-decoration: none; }

.book-container .btn-reserve {
  margin-top: 8px; }

.read-more {
  cursor: pointer; }

.text-with-readmore {
  height: 36px;
  overflow: hidden;
  transition: all 0.5s; }
  .text-with-readmore.expand {
    max-height: inherit;
    height: auto; }
    .text-with-readmore.expand p {
      margin-bottom: 10px; }
  .text-with-readmore p {
    margin-bottom: 5px; }

/***********************************
ELEMENT: FORM
***********************************/
.form-control {
  box-shadow: 0 0 0; }
  .form-control:focus {
    border-color: #cccccc;
    box-shadow: 0 0 0; }

.btn-lup {
  border-left: none;
  color: #cccccc; }
  .btn-lup:hover, .btn-lup:focus {
    background: none;
    border-color: #cccccc;
    border-left: #ffffff 1px solid;
    color: #cccccc;
    cursor: inherit; }

.search-container,
.check-in-out-container {
  margin-bottom: 10px; }

.check-in-out-container {
  background: #ffffff;
  border: 1px solid #c90600;
  border-radius: 4px;
  color: #555555;
  padding: 12px; }
  .check-in-out-container label {
    font-weight: normal;
    margin-bottom: 3px; }

.check-in-out-date {
  background: none;
  border: 0 none;
  color: #e53935;
  font-weight: bold;
  padding: 0;
  width: 100%; }

.btn-red {
  background: #f50000 none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px #cccccc;
  color: #ffffff;
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%; }
  .btn-red:hover, .btn-red:focus, .btn-red:active {
    background: #db1a1a;
    color: #ffffff; }

.btn-yellow {
  background: #ffeb3b;
  box-shadow: 0 2px 5px #cccccc;
  color: #e53935;
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  height: 45px;
  margin: 0 auto;
  padding: 0 25px; }
  .btn-yellow:hover {
    background: #ffef61;
    color: #e53935; }
  .btn-yellow:focus, .btn-yellow:active {
    background: #f5e131;
    color: #e53935; }

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  background: inherit; }

.col-xs-6.first-col {
  padding-right: 5px; }
.col-xs-6.second-col {
  padding-left: 5px; }

.disabled {
  background: #ffffff;
  border-color: #cccccc; }
  .disabled > * {
    /*opacity: 0.4;*/ }

.search-2-container {
  padding: 6px 15px 4px; }
  .search-2-container button {
    background: none;
    border: none;
    color: #ffffff;
    float: left;
    padding-left: 0;
    width: 25px; }
    .search-2-container button:hover {
      background: none;
      color: #ffffff; }
  .search-2-container .form-group {
    display: inherit !important;
    margin-bottom: 0;
    overflow: hidden; }
  .search-2-container input {
    background: transparent;
    border: none;
    border-radius: 0;
    color: #ffffff !important;
    height: 32px;
    padding: 0; }
  .search-2-container .form-control::-moz-placeholder {
    color: #ffffff; }

.form-inline .form-group {
  display: inline-block; }

.sort-tab-container {
  margin-bottom: 15px; }
  .sort-tab-container .btn {
    border-radius: 0;
    color: #e53935;
    font-size: 14px;
    padding: 3px 12px; }
    .sort-tab-container .btn:hover, .sort-tab-container .btn:active {
      background: #c90600;
      border-color: #c90600;
      color: #ffffff; }

/***********************************
ELEMENT: BODY TENGAH
***********************************/
.body-container {
  margin-bottom: 20px;
  min-height: 290px; }

.medium-heading {
  color: #e53935;
  font-size: 16px; }

.with-border-bottom {
  border-bottom: 1px solid #ededed; }

/***********************************
BOOK ROOM PAGE
***********************************/
.book-room-subheader {
  border-bottom: 1px solid #cccccc;
  color: #e53935;
  font-size: 14px;
  padding: 20px 15px; }

.room-list .room-item {
  margin: 0 -15px;
  padding: 15px;
  position: relative; }
  .room-list .room-item.soldout .heading, .room-list .room-item.soldout .room-notification, .room-list .room-item.soldout .person-max, .room-list .room-item.soldout .room-feature {
    opacity: 0.7; }
  .room-list .room-item .heading, .room-list .room-item .heading a {
    color: #455a64;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 8px; }
  .room-list .room-item .room-notification {
    margin-bottom: 10px; }
  .room-list .room-item .person-max {
    background: transparent url(../images/icon-persons.png) 0 0 no-repeat;
    color: #78909c;
    padding-left: 20px;
    line-height: 11px;
    margin: 5px 0; }
  .room-list .room-item ul.room-feature {
    margin: 0;
    padding: 0;
    list-style: none; }
    .room-list .room-item ul.room-feature li {
      border-right: 1px solid #ccc;
      color: #78909c;
      display: inline-block;
      line-height: 13px;
      height: 14px;
      margin: 0 5px 5px 0;
      padding-right: 9px; }
    .room-list .room-item ul.room-feature li:last-child {
      border: none; }
  .room-list .room-item .price {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px; }
  .room-list .room-item .number-setting-container {
    margin-top: 30px; }
    .room-list .room-item .number-setting-container button {
      border-radius: 2px;
      display: inline; }
    .room-list .room-item .number-setting-container .btn-control {
      padding: 0 20px;
      margin-top: -2px; }
    .room-list .room-item .number-setting-container .btn-reserve-room {
      display: inline-block;
      width: 100%; }
    .room-list .room-item .number-setting-container input.room-number-field {
      border: 1px solid #cccccc;
      font-size: 14px;
      height: 45px;
      margin: 0 5px;
      text-align: center;
      width: 50px; }
    .room-list .room-item .number-setting-container .left {
      float: left;
      margin-right: 10px;
      width: 170px; }
    .room-list .room-item .number-setting-container .right {
      height: 50px;
      overflow: hidden; }

.soldout-heading {
  color: #ffffff;
  margin: 0 -15px;
  padding: 15px; }

 /***********************************
RESERVATION STEPS
***********************************/
.reservation-step-container {
  border-bottom: 1px solid #ccc;
  color: #78909c;
  margin-bottom: 15px;
  padding: 15px; }
  .reservation-step-container .heading {
    font-size: 15px;
    margin: 0 0 5px; }
  .reservation-step-container .steps {
    font-size: 12px; }
  .reservation-step-container .back-button {
    background: transparent;
    border: none;
    color: #e53935;
    margin-top: 5px;
    padding: 0;
    position: absolute;
    left: 15px; }

.reservation-form .heading-in-body {
  margin-left: 5px; }
.reservation-form label {
  font-size: 11px;
  font-weight: normal;
  color: #78909c;
  margin-top: 4px;
  margin-left: 5px; }
.reservation-form .has-error label {
  color: #e53935; }
.reservation-form .button-container {
  margin-top: 40px; }
  .reservation-form .button-container .btn {
    width: 100%; }
.reservation-form .form-group {
  margin-bottom: 10px; }
.reservation-form input.form-control {
  height: 38px;
  padding: 10px 12px; }

.reservation-step2 {
  color: #455a64; }
  .reservation-step2 h2 {
    color: #e53935;
    font-size: 20px; }
  .reservation-step2 h3 {
    color: #e53935;
    font-size: 16px; }
  .reservation-step2 .separator {
    border-color: #dadada;
    margin: 15px 0; }
  .reservation-step2 .button-container {
    margin-top: 40px; }
    .reservation-step2 .button-container .btn {
      width: 100%; }

.reservation-step3 .heading-total {
  margin-bottom: 50px; }
  .reservation-step3 .heading-total .total-text {
    color: #455a64;
    font-size: 13px; }
  .reservation-step3 .heading-total .total-price {
    color: #e53935;
    font-size: 24px;
    font-weight: 500; }
.reservation-step3 .box {
  margin-bottom: 15px;
  position: relative;
  padding-right: 30px; }
.reservation-step3 .logo-payment {
  display: inline-block;
  margin-right: 10px; }
.reservation-step3 .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px; }

/***********************************
ELEMENT: ZEBRA (HISTORY)
***********************************/
.even {
  background: #f5f5f5; }

.search-list-container {
  position: relative;
  min-height: 100px; }
  .search-list-container #loading {
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: -999999px;
    z-index: 2; }

ul.history-list {
  list-style: none;
  padding: 0; }

.history-item {
  padding-top: 15px;
  padding-bottom: 15px; }

.location-name a {
  font-size: 16px;
  color: #e53935;
  margin-right: 10px; }

.country-name {
  color: #727272;
  font-size: 14px;
  margin-top: 3px; }

.property-number {
  color: #e53935;
  font-size: 16px; }

.clickable {
  cursor: pointer; }

/***********************************
ELEMENT: BOx
***********************************/
.box {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #ffffff;
  color: #455a64;
  margin-bottom: 25px;
  padding: 15px; }
  .box .heading {
    font-weight: normal;
    margin: 0 0 8px;
    font-size: 15px; }

/***********************************
 ELEMENT: BOx WITH HEADING
 ***********************************/
.box-with-heading {
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #ffffff;
  color: #455a64;
  margin-bottom: 25px;
  padding: 15px; }
  .box-with-heading .heading-container {
    background: #fafafa;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #ccc;
    color: #d32f2f;
    font-size: 16px;
    margin: -15px -15px 0 -15px;
    padding: 15px; }
    .box-with-heading .heading-container h3 {
      margin: 0;
      font-weight: normal; }
  .box-with-heading .footer-container {
    background: #fafafa;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #ccc;
    color: #d32f2f;
    font-size: 16px;
    margin: 0 -15px -15px -15px;
    padding: 15px; }

.review-item {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px; }
  .review-item:last-child {
    border: none; }
  .review-item .name {
    font-size: 16px;
    margin-bottom: 5px; }
  .review-item .star-container {
    padding-top: 4px; }
  .review-item .review-time {
    line-height: 10px;
    margin-bottom: 20px; }

.location-calendar-container {
  line-height: 20px; }
  .location-calendar-container .location-container {
    margin-bottom: 5px; }

.icon1 {
  background: transparent url(../images/sprites1.png) 0 0 no-repeat;
  display: block;
  width: 18px;
  height: 20px;
  float: left;
  margin-right: 10px; }
  .icon1.calendar {
    background-position: right top; }

.hotel-item {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px; }
  .hotel-item .detail-container {
    display: table;
    width: 100%; }
    .hotel-item .detail-container > div {
      display: table-cell;
      vertical-align: top; }
    .hotel-item .detail-container .image-container {
      width: 135px; }
      .hotel-item .detail-container .image-container img {
        display: block;
        width: 135px;
        height: 112px; }
    .hotel-item .detail-container .text-container {
      padding: 15px; }
      .hotel-item .detail-container .text-container .location-container {
        color: #78909c;
        font-size: 12px; }
        .hotel-item .detail-container .text-container .location-container .icon2 {
          background: transparent url(../images/sprites2.png) right 0 no-repeat;
          display: block;
          float: left;
          margin: 1px 7px 0 3px;
          width: 10px;
          height: 12px; }
    .hotel-item .detail-container h2 {
      color: #455a64;
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
      margin: 0 0 10px; }
  .hotel-item .price-container {
    box-sizing: border-box;
    background: #f9f9f9;
    border-top: 1px solid #cccccc;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    width: 100%; }
    .hotel-item .price-container a {
      color: #d32f2f;
      font-size: 16px;
      line-height: 16px; }
      .hotel-item .price-container a .fa {
        margin-left: 5px; }

.hotel-item.soldout {
  position: relative; }
  .hotel-item.soldout .detail-container,
  .hotel-item.soldout .price-container {
    opacity: 0.5; }

#pagination-hotel-list {
  clear: both;
  text-align: center; }
  #pagination-hotel-list .loading {
    background: transparent url(../images/loader.gif) 0 0 no-repeat;
    display: none;
    margin: 0 auto;
    width: 32px;
    height: 32px; }
    #pagination-hotel-list .loading.active {
      display: block; }

.soldout-sign {
  background: transparent url(../images/bg-soldout.png) 0 0 no-repeat;
  display: block;
  margin-left: -104px;
  margin-top: -58px;
  position: absolute;
  height: 116px;
  width: 208px;
  top: 50%;
  left: 50%; }

.soldout-sign-small {
  background: transparent url(../images/bg-soldout2.png) 0 0 no-repeat;
  display: block;
  margin-left: -60px;
  margin-top: -33px;
  position: absolute;
  height: 66px;
  width: 120px;
  top: 50%;
  left: 50%; }

.tripadvisor-container {
  margin-bottom: 5px; }
  .tripadvisor-container .icon2 {
    background: transparent url(../images/sprites2.png) 0 0 no-repeat;
    display: block;
    float: left;
    margin-right: 4px;
    width: 16px;
    height: 10px; }

.star-rating {
  background: transparent url(../images/sprites-stars.png) 0 0 no-repeat;
  display: block;
  float: left;
  width: 50px;
  height: 10px; }
  .star-rating.star-1 {
    background-position: 0 0; }
  .star-rating.star-2 {
    background-position: 0 -10px; }
  .star-rating.star-3 {
    background-position: 0 -20px; }
  .star-rating.star-4 {
    background-position: 0 -30px; }
  .star-rating.star-5 {
    background-position: 0 -40px; }
  .star-rating.star-0 {
    background-position: 0 -50px; }

.star-rating2 {
  background: transparent url(../images/sprites-stars-yellow2.png) 0 0 no-repeat;
  display: block;
  float: left;
  width: 60px;
  height: 11px; }
  .star-rating2.star-1 {
    background-position: 0 -28px; }
  .star-rating2.star-2 {
    background-position: 0 -56px; }
  .star-rating2.star-3 {
    background-position: 0 -85px; }
  .star-rating2.star-4 {
    background-position: 0 -114px; }
  .star-rating2.star-5 {
    background-position: 0 -142px; }
  .star-rating2.star-0 {
    background-position: 0 0; }

/***********************************
ELEMENT: FOOTER
***********************************/
.peach-bg {
  background: #ffecb3; }

.red-bg {
  background: #c90600; }

.white-bg {
  background: #fbfbfb; }

.red-color, .red-text {
  color: #e53935; }

.above-footer {
  margin-bottom: 2px;
  padding: 20px 10px; }

a.with-ticket {
  background: url("../images/icon-ticket.png") 0 center no-repeat;
  color: #e53935;
  display: inline-block;
  line-height: 18px;
  padding-left: 25px; }

.footer {
  background: #b70802;
  padding: 20px 10px; }

.footer-menu {
  display: block;
  font-size: 13px;
  list-style: none;
  padding: 0;
  text-align: center; }
  .footer-menu li {
    border-right: 1px solid #ffffff;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    padding: 0 14px; }
    .footer-menu li:last-child {
      border: none; }
    .footer-menu li a {
      color: #ffffff;
      text-decoration: underline; }

.copy {
  color: #ffffff;
  font-size: 10px; }

.stuck {
  bottom: -2px;
  left: 0;
  width: 100%;
  position: fixed;
  transition: all 0.5s;
  z-index: 100; }

/***********************************
 ELEMENT: sliding container
 ***********************************/
.sliding-page-container {
  overflow: hidden;
  position: relative;
  width: 100%; }

.sliding-page-container .inner {
  width: 300%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.page {
  background: #f5f5f5;
  float: left;
  position: relative;
  width: 33.333%; }

/***********************************
ELEMENT: book container
***********************************/
.book-container {
  padding: 15px; }
  .book-container .btn {
    border: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

/***********************************
ELEMENT: datepicker
***********************************/
.datepicker-container {
  margin-bottom: 15px 20px; }
  .datepicker-container#datepicker-checkin {
    display: block; }

.ui-datepicker-inline {
  width: 100%; }
  .ui-datepicker-inline.ui-widget-content {
    background: #ffffff;
    padding-left: 0;
    padding-right: 0; }
  .ui-datepicker-inline .ui-widget-header {
    background: #ffffff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #e53935;
    font-weight: normal;
    font-size: 14px; }
    .ui-datepicker-inline .ui-widget-header .ui-icon {
      background-image: url("images/ui-icons-hotelboz.png"); }
  .ui-datepicker-inline .ui-icon {
    height: 17px;
    width: 17px; }
  .ui-datepicker-inline .ui-icon-circle-triangle-w {
    background-position: -77px -189px; }
  .ui-datepicker-inline .ui-icon-circle-triangle-e {
    background-position: -46px -189px; }

.ui-datepicker-next-hover {
  background: none !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 0 !important;
  right: 2px !important;
  top: 2px !important; }

.ui-widget-content .ui-state:hover,
.ui-datepicker-prev-hover {
  background: none !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 0 !important;
  left: 2px !important;
  top: 2px !important; }

/* date */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: 1px solid #ffffff;
  color: #999999;
  font-weight: normal;
  text-align: center; }

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
  font-weight: normal; }

.ui-widget-content .ui-state-active {
  color: #e53935;
  font-weight: bold; }

.ui-autocomplete {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  border-top: medium none;
  left: 15px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  right: 16px;
  width: auto !important; }

/***********************************
 ELEMENT: LITEBOX
 ***********************************/
#cboxContent {
  margin-top: 0; }

#cboxLoadedContent {
  border: none; }

#cboxClose {
  display: none; }

.litebox-slide {
  background: #ffffff;
  bottom: 0;
  top: 0;
  right: -100%;
  position: fixed;
  width: 100%;
  transition: all 0.4s;
  z-index: 0; }

.litebox-slide.active {
  right: 0;
  z-index: 100; }

.litebox-slide .header {
  font-size: 20px;
  font-weight: 500;
  line-height: 55px;
  position: absolute;
  width: 100%;
  z-index: 10; }

.close-litebox {
  cursor: pointer;
  font-size: 26px;
  line-height: 55px; }

.litebox-body {
  box-sizing: border-box;
  overflow-y: auto;
  position: relative; }
  .litebox-body .inner {
    padding: 0 20px 20px; }
    .litebox-body .inner .filter-group {
      margin-bottom: 15px; }
      .litebox-body .inner .filter-group ul {
        list-style: none;
        padding: 0; }
        .litebox-body .inner .filter-group ul.checkbox li {
          background: transparent url(../images/checkbox-0.gif) 0 0 no-repeat; }
        .litebox-body .inner .filter-group ul.checkbox li.check {
          background: transparent url(../images/checkbox-1.gif) 0 0 no-repeat; }
        .litebox-body .inner .filter-group ul.radiobutton li {
          background: transparent url(../images/radio-0.png) 0 0 no-repeat;
          line-height: 21px; }
        .litebox-body .inner .filter-group ul.radiobutton li.check {
          background: transparent url(../images/radio-1.png) 0 0 no-repeat; }
        .litebox-body .inner .filter-group ul li {
          line-height: 20px;
          margin-bottom: 8px;
          padding-left: 25px; }
    .litebox-body .inner h2 {
      color: #e53935;
      font-weight: 500;
      font-size: 16px;
      margin: 0 0 10px; }
    .litebox-body .inner .btn.btn-yellow.btn-apply-full {
      border-radius: 0;
      box-shadow: none;
      line-height: 45px;
      margin-top: 30px; }

ul.sort-list {
  padding: 0;
  list-style: none; }
  ul.sort-list li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 15px 15px 45px; }
    ul.sort-list li.check {
      background: transparent url(../images/check.png) 15px 11px no-repeat; }

.litebox-slide .navbar {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%; }
.litebox-slide .litebox-body {
  padding-top: 70px; }
.litebox-slide .header .navbar-toggle {
  float: right;
  border-left: 1px solid #9a0500;
  border-right: none; }

.blockUI.blockMsg {
  background-image: url("../images/loader.gif");
  background-position: center 9px;
  background-repeat: no-repeat;
  padding: 50px 2px 6px !important;
  top: 145px !important; }
