/* variables */
$font: 'Roboto', sans-serif;
$bg-peach: #ffecb3;
$bg-red: #c90600;
$bg-red2: #dc211c;
$bg-red-footer: #b70802;
$bg-red-hover: #db1a1a;
$color-red: #e53935;
$color-grey: #e1e1e1;
$color-dark-grey: #66777f;
$color-black: #212121;
$color-lite-grey: #f5f5f5;
$color-yellow: #ffeb3b;
$color-yellow-hover: #ffef61;
$color-yellow-active: #f5e131;

$font-color-yellow-active: #c90600;
$bg-odd: #f5f5f5;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500);

/***********************************
 GLOBAL
 ***********************************/
body {	
  font: 13px $font;  
  color: $color-black;
  position: relative;
  overflow-x: hidden;
}

.lite-grey-bg {
	background: $color-lite-grey;
}

h1 {
	color: $color-dark-grey;
	font-family: $font;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 15px;
}

h2 {
	font-size: 20px;
}

a {
	color: $color-red;
	/*text-decoration: underline;*/
}

a:hover {
	color: inherit;
}
/***********************************
 ELEMENT: HEADER
 ***********************************/
 .header {
 	background: $bg-red;
 	border: none;
 	color: #ffffff;
 	height: 55px;

 	.container {
 		padding: 0;
 	}

 	.navbar-brand {
 		background: transparent url(../images/logo.png) 0 center no-repeat;
 		color: #ffffff;
	    float: left;
	    font-size: 18px;
	    line-height: 50px;
	    margin-left: 15px;
	    padding: 0  5px;
	    text-indent: -999999px;
	    width: 117px;
	    height: 55px;

	    &:hover {
	    	color: #ffffff;
	    }
	}
	.navbar-brand span {
		font-weight: 500;
	}

	.navbar-toggle {
		border: none;
		border-radius: 0;		
		border-right: 1px solid #9a0500;
		color: #ffffff;
	    float: left;
	    height: 55px;
	    margin: 0;
	    padding: 0 15px;
		

		&:hover, &:focus {
			background: none;
		}
		.icon-bar {
			background: #ffffff;
		}	
	}
 }

 .navbar-toggle .icon-bar {
    width: 19px;
 }

 .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.search-header-container {
	margin: 0;
	padding: 10px;
}

.navbar {
	border-radius: 0;
}

.below-nav {	
	margin-top: -20px;
	margin-bottom: 15px;

	&.search-container {
		background:$bg-red2;
		color: #ffffff;
	}
}

/***********************************
 SIDE MENU
 ***********************************/
.sidr {
	background: $bg-red;
	font-family: $font;
	box-shadow: none;
	padding: 20px;

	ul {
		border: none;
	}

	li {
		border: none!important;		
	}

	li.active a,
	li:hover a {
		box-shadow: none!important;
		height: auto!important;
		line-height: 1em!important;
	}

	a {
		color: #ffffff!important;
		padding: 0!important;
	}

	a:hover {
		height: auto!important;
	}

	.flag {
		float: right;
	}

	.copyright {
		color: #fb6d5f;
		font-size: 12px;
		margin-bottom: 20px;	
	}
}

.sidr-open {

	.navbar-toggle {
		border-left: 1px solid #9a0500;
	}
}

.sidr .list-sidemenu-1 {
	margin-bottom: 20px;

	li {
		background: #a80900;
		margin-bottom: 1px;
		font-size: 14px;
		line-height: 1em;
		padding: 15px 20px;

	}
	
	.currency > a > span {
		float: right;
	}

	.submenu {
		height: 0;
		overflow: hidden;
		transition: all 0.3s;
	}
	
	.submenu.active {
		height: 65px;		
	}

	.submenu > li {
	    padding: 15px 0 0 10px !important;
	}

}

.sidr .list-sidemenu-2 {
	border: 1px solid #b10a02;

	li {
		border-bottom: 1px solid #b10a02!important;
		font-size: 14px;
		line-height: 1em;
		padding: 15px 20px;
	}

	li:last-child {
		border: none!important;
	}
}
/***********************************
 DETAIL HOTEL PAGE
 ***********************************/
.hotel-header-container {
	position: relative;

	.hotel-image-container {
		max-height: 320px;
    	overflow: hidden;
	}

	.hotel-image-container img {
		width: 100%;
		height: auto;
	}
	
	.slideshow {
		img {
			display: none;
			opacity: 0;
		}

		img:first-child {
			display: block;
			opacity: 1;
		}

		img.cycle-slide {
			display: block;
			opacity: 1;
		}
	}
	.hotel-text-container {
		background-color: rgba(0,0,0, 0.4);		
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 15px;
		z-index: 100;

		.col-text h1,
		.col-text h1 a {
			color: #ffffff;
			font-size: 15px;
			font-weight: normal;
			line-height: 1.2em;
			margin: 0;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}		
	}

	.tripadvisor-container {
		margin: 3px 0;
	}
}

.availability-container {
	background: #ffffff;
	color: #d32f2f;	
	margin: -15px 0 15px;
	padding-top: 15px;
	padding-bottom: 15px;

	.availability-text {		
		font-weight: 500;
		font-size: 15px;
		padding-left: 25px;
		position: relative;
	}

	.availability-date {
		font-size: 15px;
		padding-left: 25px;
	}

	.change-date-container a {
		color: #d32f2f;
		text-decoration: underline;
		font-size: 12px;
	}

	.price-container {
		font-size: 18px;
		font-weight: 500;
		margin-top: 20px;
	}

	.unavailable {
		color: #727272;
	}
}

.box {

	.address {
		position: relative;
		padding-left: 20px;
	}
}

.icon3 {
	background: transparent url(../images/sprites3.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	left: 0;	

	&.icon-check {
		background-position: left top;
		height: 15px;
		width: 15px;
		top: 2px;
	}

	&.icon-uncheck {
		background-position: left -15px;
		height: 15px;
		width: 15px;
		top: 2px;		
	}

	&.icon-pin {
		background-position: left bottom;
		height: 16px;
		width: 12px;
	}
}

/***********************************
 ROOM DETAIL PAGE
 ***********************************/
.heading-in-body {
	color: #455a64;
	font-size: 16px;
	margin: 0 0 15px;	
}

.price-room-container {
	color: #ffffff;
	font-size: 12px;

	.price {
		font-size: 20px;
		margin-bottom: 5px;
	}	
}

.book-container a {

	&:hover {
		text-decoration: none;
	}
}

.book-container .btn-reserve {
	margin-top: 8px;
}

.read-more {
	cursor: pointer;
}

.text-with-readmore {
	height: 36px;
	overflow:hidden;
	transition: all 0.5s;

	&.expand {
		max-height: inherit;
		height: auto;

		p {
			margin-bottom: 10px;
		}
	}

	p {
		margin-bottom: 5px;
	}
}
 /***********************************
 ELEMENT: FORM
 ***********************************/
 .form-control {
 	box-shadow: 0 0 0;

 	&:focus {
 		border-color: #cccccc;
 		box-shadow: 0 0 0;
 	}
 }

 .btn-lup {
 	border-left: none;
 	color: #cccccc;

 	&:hover, &:focus {
 		background: none;
 		border-color: #cccccc;
 		border-left: #ffffff 1px solid;
 		color: #cccccc;
 		cursor: inherit;
 	}
 }

 .search-container,
 .check-in-out-container {
 	margin-bottom: 10px;
 }

 .check-in-out-container {
 	background: #ffffff;
 	border: 1px solid #c90600;
 	border-radius: 4px;
 	color: #555555;
 	padding: 12px;

 	label {
 		font-weight: normal;
 		margin-bottom: 3px;
 	}
 }

 .check-in-out-date {
 	background: none; 	
    border: 0 none;
    color: $color-red;
    font-weight: bold;
    padding: 0;    
    width: 100%;
 }

 .btn-red {
 	background: #f50000 none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px #cccccc;
    color: #ffffff;
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;

    &:hover, &:focus, &:active {
    	background: $bg-red-hover;
    	color: #ffffff;
    }
 }

 .btn-yellow {
 	background: $color-yellow;
 	box-shadow: 0 2px 5px #cccccc;
 	color: $color-red;
 	display: block;
 	font-family: "Roboto";
 	font-weight: 500;
 	font-size: 18px;
 	height: 45px;
 	margin: 0 auto;
 	padding: 0 25px;

 	&:hover {
 		background: $color-yellow-hover;
 		color: $color-red;
 	}

 	&:focus, &:active {
 		background: $color-yellow-active;
 		color: $color-red;
 	}
 }

 .btn-default.active.focus, 
 .btn-default.active:focus, 
 .btn-default.active:hover, 
 .btn-default.focus:active, 
 .btn-default:active:focus, 
 .btn-default:active:hover, 
 .open > .dropdown-toggle.btn-default.focus, 
 .open > .dropdown-toggle.btn-default:focus, 
 .open > .dropdown-toggle.btn-default:hover {
 	background: inherit;
 }

 .col-xs-6 {

 	&.first-col {
 		padding-right: 5px;
 	}

 	&.second-col {
 		padding-left: 5px;
 	}
 }

 .disabled {
 	background: #ffffff; 	
 	border-color: #cccccc;

 	& > * {
 		/*opacity: 0.4;*/
 	}
 }

 .search-2-container { 	
 	padding: 6px 15px 4px;

 	button {
 		background: none;
 		border: none;
 		color: #ffffff;
 		float: left; 	
 		padding-left: 0;
 		width: 25px;

 		&:hover {
 			background: none;
 			color: #ffffff;
 		}
 	}

 	.form-group {
 		display: inherit!important;
 		margin-bottom: 0;
 		overflow: hidden;
 	}

 	input {
 		background: transparent;
 		border: none;
 		border-radius: 0;
 		color: #ffffff !important;
	    height: 32px;
	    padding: 0;
 	}

 	.form-control::-moz-placeholder {
 		color: #ffffff;
 	}
 }

 .form-inline .form-group {
 	display: inline-block;
 }

 .sort-tab-container{
	margin-bottom: 15px;

 	.btn {
	 	border-radius: 0;
	 	color: $color-red;
	 	font-size: 14px;
	 	padding: 3px 12px;

	 	&:hover, &:active {
	 		background: $bg-red;
	 		border-color: $bg-red;
	 		color: #ffffff;
	 	}
	 }
 } 
 
 /***********************************
 ELEMENT: BODY TENGAH
 ***********************************/
 .body-container { 	
 	margin-bottom: 20px;
 	min-height: 290px;
 }

 .medium-heading {
 	color: $color-red;
 	font-size: 16px;
 }

 .with-border-bottom {
 	border-bottom: 1px solid #ededed;
 }

 /***********************************
 BOOK ROOM PAGE
 ***********************************/
 .book-room-subheader {
 	border-bottom: 1px solid #cccccc;
 	color: $color-red;
 	font-size: 14px;
 	padding: 20px 15px; 	
 }

 .room-list {

 	.room-item {
 		margin: 0 -15px;
 		padding: 15px;
 		position: relative;

 		&.soldout .heading,
 		&.soldout .room-notification,
 		&.soldout .person-max,
 		&.soldout .room-feature {
 			opacity: 0.7; 		
 		}

 		.heading, .heading a {
 			color: #455a64;
 			font-size: 16px;
 			font-weight: 500;
 			margin: 0 0 8px;
 		}

 		.room-notification {
 			margin-bottom: 10px;
 		}

 		.person-max {
 			background: transparent url(../images/icon-persons.png) 0 0 no-repeat;
 			color: #78909c;
 			padding-left: 20px;
 			line-height: 11px;
 			margin: 5px 0;
 		}

 		ul.room-feature {
 			margin: 0;
 			padding: 0;
 			list-style: none;

 			li {
 				border-right: 1px solid #ccc;
 				color: #78909c;
 				display: inline-block;
 				line-height: 13px;
 				height: 14px;
 				margin: 0 5px 5px 0; 				
 				padding-right: 9px; 				
 			}

 			li:last-child {
				border: none;
			}
 		}

 		.price {
 			font-size: 20px;
 			font-weight: 500;
 			line-height: 24px;
 			margin-top: 10px;
 		}

 		.number-setting-container {
 			margin-top: 30px;

 			button {
 				border-radius: 2px;
 				display: inline; 				
 			}

 			.btn-control {
 				padding: 0 20px;
 				margin-top: -2px;
 			}

 			.btn-reserve-room {
 				display: inline-block;
 				width: 100%; 				
 			}

 			input.room-number-field {
 				border: 1px solid #cccccc;
			    font-size: 14px;
			    height: 45px;
			    margin: 0 5px;
			    text-align: center;
			    width: 50px;
 			}

 			.left {
 				float: left;
 				margin-right: 10px;
 				width: 170px;
 			}

 			.right {
 				height: 50px;
 				overflow: hidden;
 			}
 		}	
 	}
 }

 .soldout-heading {
    color: #ffffff;
    margin: 0 -15px;
    padding: 15px;
 }


  /***********************************
 RESERVATION STEPS
 ***********************************/
 .reservation-step-container {
 	border-bottom: 1px solid #ccc;
 	color: #78909c;
 	margin-bottom: 15px;
 	padding: 15px;

 	.heading { 		
 		font-size: 15px;
 		margin: 0 0 5px; 		
 	}

 	.steps {
 		font-size: 12px;
 	}

 	.back-button {
 		background: transparent;
 		border: none;
 		color: $color-red;
 		margin-top: 5px;
 		padding: 0;
 		position: absolute;
 		left: 15px;
 	}
 }

 .reservation-form {
 	.heading-in-body {
 		margin-left: 5px;
 	}

 	label {
 		font-size: 11px;
 		font-weight: normal;
 		color: #78909c;
 		margin-top: 4px;
 		margin-left: 5px;
 	}

 	.has-error label {
 		color: $color-red;
 	}

 	.button-container {
 		margin-top: 40px;

 		.btn {
 			width: 100%;
 		}
 	}

 	.form-group {
	    margin-bottom: 10px;
	 }

	 input.form-control {
	 	height: 38px;
	 	padding: 10px 12px;
	 }
 }
 

 .reservation-step2 {
 	color: #455a64;

 	h2 {
 		color: $color-red;
 		font-size: 20px;
 	}

 	h3 {
 		color: $color-red;
 		font-size: 16px;
 	}

 	.separator {
 		border-color: #dadada;
 		margin: 15px 0;
 	}

 	.button-container {
	    margin-top: 40px;

	    .btn {
	    	width: 100%;
	    }
	}
 }

 .reservation-step3 {

 	.heading-total {
 		margin-bottom: 50px;

 		.total-text {
 			color: #455a64;
 			font-size: 13px; 			
 		}

 		.total-price {
 			color: $color-red;
 			font-size: 24px;
 			font-weight: 500;
 		} 		
 	}

 	.box {
 		margin-bottom: 15px;
		position: relative;
		padding-right: 30px;		
	}

	.logo-payment {
		display: inline-block;
		margin-right: 10px;
	}

	.arrow {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -8px;
	}	
 }
 /***********************************
 ELEMENT: ZEBRA (HISTORY)
 ***********************************/
 .even {
 	background: $bg-odd;
 }

 .search-list-container {
	position: relative;
	min-height: 100px;
	
	#loading {
		background-color: rgba(255, 255, 255, 0.6);
		background-image: url(../images/loader.gif);
		background-repeat: no-repeat;
		background-position: center 20px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-indent: -999999px;
		z-index: 2;
	}
 }

 ul.history-list {
 	list-style: none;
 	padding: 0;
 }
 
 .history-item {
 	padding-top: 15px;
 	padding-bottom: 15px;
 }

 .location-name  a {
 	font-size: 16px;
 	color: $color-red;
 	margin-right: 10px; 	
 }

 .country-name {
 	color: #727272;
 	font-size: 14px;
 	margin-top: 3px;
 }

 .property-number {
 	color: $color-red;
 	font-size: 16px;
 }

 .clickable {
 	cursor: pointer;
 }

 /***********************************
 ELEMENT: BOx
 ***********************************/
 .box {
 	border: 1px solid #ccc;
 	border-radius: 2px;
 	background: #ffffff;
 	color: #455a64;
 	margin-bottom: 25px;
 	padding: 15px;

 	.heading {
 		font-weight: normal;
 		margin: 0 0 8px;
 		font-size: 15px;
 	}
 }

/***********************************
 ELEMENT: BOx WITH HEADING
 ***********************************/
.box-with-heading {
	border: 1px solid #ccc;
 	border-radius: 8px;
 	background: #ffffff;
 	color: #455a64;
 	margin-bottom: 25px;
 	padding: 15px;

 	.heading-container {
 		background: #fafafa;
 		border-radius: 8px 8px 0 0;
 		border-bottom: 1px solid #ccc;
 		color: #d32f2f;
 		font-size: 16px;
 		margin: -15px -15px 0 -15px;
 		padding: 15px;

 		h3 {
 			margin: 0;
 			font-weight: normal;
		}
 	}

 	.footer-container {
		background: #fafafa;
 		border-radius: 0 0 8px 8px;
 		border-top: 1px solid #ccc;
 		color: #d32f2f;
 		font-size: 16px;
 		margin: 0 -15px -15px -15px;
 		padding: 15px; 		
 	}
}

.review-item {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;

	&:last-child {
		border: none;
	}

	.name {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.star-container {
		padding-top: 4px;
	}

	.review-time {
		line-height: 10px;
		margin-bottom: 20px;
	}
}
 .location-calendar-container {
 	line-height: 20px;

 	.location-container {
 		margin-bottom: 5px;
 	}
 }
 .icon1 {
 	background: transparent url(../images/sprites1.png) 0 0 no-repeat;
 	display: block;
 	width: 18px;
 	height: 20px;
 	float: left;
 	margin-right: 10px;

 	&.pin {

 	}

 	&.calendar {
 		background-position: right top;
 	}
 }


 .hotel-item {
 	background: #ffffff;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	margin-bottom: 15px;

 	.detail-container {
 		display: table;
 		width: 100%;

 		> div {
 			display: table-cell;
 			vertical-align: top;
 		}

 		.image-container {
 			width: 135px;

 			img {
 				display: block;
 				width: 135px;
 				height: 112px;
 			}
 		}

 		.text-container {
 			padding: 15px;
 			
 			.location-container {
 				color: #78909c;
 				font-size: 12px;

 				.icon2 {
 					background: transparent url(../images/sprites2.png) right 0 no-repeat;
 					display: block;
 					float: left;
 					margin: 1px 7px 0 3px;
 					width: 10px;
 					height: 12px;
 				}
 			}
 		}

 		h2 {
 			color: #455a64;
 			font-size: 13px;
 			font-weight: normal;
 			line-height: 18px;
 			margin: 0 0 10px; 			
 		}
 	}

 	.price-container {
 		box-sizing: border-box;
 		background: #f9f9f9;
 		border-top: 1px solid #cccccc;
 		border-radius: 0 0 4px 4px; 		
 		padding: 15px;
 		width: 100%;

 		a {
 			color: #d32f2f;
 			font-size: 16px;
 			line-height: 16px;

 			.fa {
 				margin-left: 5px;
 			}
 		}
 	}
 }

 .hotel-item.soldout {
 	position: relative;

 	.detail-container,
 	.price-container
 	 {
 		opacity: 0.5;
 	} 	
 	
 }

#pagination-hotel-list {
    clear: both;
    text-align: center;

    .loading {
    	background: transparent url(../images/loader.gif) 0 0 no-repeat;
    	display: none;
    	margin: 0 auto;
    	width: 32px;
    	height: 32px;

    	&.active {
    		display: block;
    	}
    }
}

 .soldout-sign {
	background: transparent url(../images/bg-soldout.png) 0 0 no-repeat;
	display: block;
	margin-left: -104px;
	margin-top: -58px;
	position: absolute;
	height: 116px;
	width: 208px;
	top: 50%;
	left: 50%;
}

.soldout-sign-small {
	background: transparent url(../images/bg-soldout2.png) 0 0 no-repeat;
	display: block;
	margin-left: -60px;
	margin-top: -33px;
	position: absolute;
	height: 66px;
	width: 120px;
	top: 50%;
	left: 50%;
}

 .tripadvisor-container {
	margin-bottom: 5px;

	.icon2 {
		background: transparent url(../images/sprites2.png) 0 0 no-repeat;
		display: block;
		float: left;
		margin-right: 4px;
		width: 16px;
		height: 10px;
	}
 }

 .star-rating {
 	background: transparent url(../images/sprites-stars.png) 0 0 no-repeat;
 	display: block;
 	float: left;
 	width: 50px;
 	height: 10px;

 	&.star-1 {
 		background-position: 0 0;
 	}

 	&.star-2 {
 		background-position: 0 -10px;
 	}
 	&.star-3 {
 		background-position: 0 -20px;
 	}
 	&.star-4 {
 		background-position: 0 -30px;
 	}
 	&.star-5 {
 		background-position: 0 -40px;
 	}
 	&.star-0 {
 		background-position: 0 -50px;
 	}
 }

 .star-rating2 {
 	background: transparent url(../images/sprites-stars-yellow2.png) 0 0 no-repeat;
 	display: block;
 	float: left;
 	width: 60px;
 	height: 11px;

 	&.star-1 {
 		background-position: 0 -28px;
 	}

 	&.star-2 {
 		background-position: 0 -56px;
 	}
 	&.star-3 {
 		background-position: 0 -85px;
 	}
 	&.star-4 {
 		background-position: 0 -114px;
 	}
 	&.star-5 {
 		background-position: 0 -142px;
 	}
 	&.star-0 {
 		background-position: 0 0;
 	}
 }
 /***********************************
 ELEMENT: FOOTER
 ***********************************/
 .peach-bg {
 	background: $bg-peach;
 }

 .red-bg {
 	background: $bg-red;
 }

 .white-bg {
 	background: #fbfbfb;
 }

 .red-color, .red-text {
 	color: $color-red;
 }

 .above-footer {
 	margin-bottom: 2px;
 	padding: 20px 10px;
 }

 a.with-ticket {
 	background: url('../images/icon-ticket.png') 0 center no-repeat;
 	color: $color-red;
 	display: inline-block;
 	line-height: 18px;
 	padding-left: 25px;
 }

 .footer {
 	background: $bg-red-footer; 	
 	padding: 20px 10px;
 }

 .footer-menu {
 	display: block;
 	font-size: 13px;
 	list-style: none;
 	padding: 0;
 	text-align: center;

 	li {
 		border-right: 1px solid #ffffff;
 		display: inline-block;
 		line-height: 1em;
 		text-align: center;
 		padding: 0 14px; 	

 		&:last-child {
 			border: none;
 		}
 		a {
 			color: #ffffff;
 			text-decoration: underline;
 		}
 	}
 }

 .copy {
 	color: #ffffff;
 	font-size: 10px;
 }

 .stuck {
 	bottom: -2px;
 	left: 0;
 	width: 100%;
 	position: fixed;
 	transition: all 0.5s;
 	z-index: 100;
 }

/***********************************
 ELEMENT: sliding container
 ***********************************/
.sliding-page-container {	
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sliding-page-container .inner {
	width: 300%;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.page {
	background: #f5f5f5;
	float: left;
	position: relative;
	width: 33.333%
}

 /***********************************
 ELEMENT: book container
 ***********************************/
 .book-container {
 	padding: 15px;

 	.btn {
 		border: none;
 		box-shadow: none;
 		padding-left: 0;
 		padding-right: 0;
 		width: 100%; 		
 	}
 }
 /***********************************
 ELEMENT: datepicker
 ***********************************/
 .datepicker-container { 	
 	margin-bottom: 15px 20px;

 	&#datepicker-checkin {
 		display: block;
 	}
 }

 .ui-datepicker-inline {
 	width: 100%;

 	&.ui-widget-content {
 		background: #ffffff;
 		padding-left: 0;
 		padding-right: 0;
 	}

 	.ui-widget-header {
 		background: #ffffff;
 		border-radius: 0;
 		border: none; 		
 		border-bottom: 1px solid #cccccc;
 		color: $color-red;
 		font-weight: normal;
 		font-size: 14px;

 		.ui-icon {
 			background-image: url("images/ui-icons-hotelboz.png");
 		}
 	}

 	.ui-icon {
	    height: 17px;
	    width: 17px;
	}

	.ui-icon-circle-triangle-w {
	    background-position: -77px -189px;
	}

 	.ui-icon-circle-triangle-e {
	    background-position: -46px -189px;
	}	
 }

 .ui-datepicker-next-hover {
	background: none!important;
	border-color: #ffffff!important;
	box-shadow: 0 0 0!important;
	right: 2px!important;
	top: 2px!important;
 }

 .ui-widget-content .ui-state:hover,
 .ui-datepicker-prev-hover {
	background: none!important;
	border-color: #ffffff!important;
	box-shadow: 0 0 0!important;
	left: 2px!important;
	top: 2px!important;
 }

 /* date */
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 1px solid #ffffff;
    color: #999999;
    font-weight: normal;
    text-align: center;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
	font-weight: normal;
}

.ui-widget-content .ui-state-active {
	color: $color-red;
	font-weight: bold;
}

.ui-autocomplete {
	background: #ffffff;
    border-radius: 0 0 4px 4px;
    border-top: medium none;    
    left: 15px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 16px;    
    width: auto !important;
}

/***********************************
 ELEMENT: LITEBOX
 ***********************************/
 #cboxContent {
 	margin-top: 0;
 }

 #cboxLoadedContent {
 	border: none;
 }

 #cboxClose {
 	display: none;
 }

 .litebox-container {
 	
 }

.litebox-slide {
	background: #ffffff;
	bottom: 0;
	top: 0;
	right: -100%;
	position: fixed;
	width: 100%;
	transition: all 0.4s;
	z-index: 0;
}

.litebox-slide.active {
	right: 0;
	z-index: 100;	
}

 .litebox-slide .header {
 	font-size: 20px;
    font-weight: 500;
    line-height: 55px;
    position: absolute;
    width: 100%;
    z-index: 10;	
 }

 .close-litebox {
		cursor: pointer;
		font-size: 26px;
		line-height: 55px;
	}

.litebox-body {
	box-sizing: border-box;
	overflow-y: auto;
	position: relative;

	.inner {
	    padding: 0 20px 20px;
		
		.filter-group {
			margin-bottom: 15px;

			ul {
				list-style: none;
				padding: 0;
				
				&.checkbox {
					li {
						background: transparent url(../images/checkbox-0.gif) 0 0 no-repeat;
					}

					li.check {
						background: transparent url(../images/checkbox-1.gif) 0 0 no-repeat;
					}
				}

				&.radiobutton {
					li {
						background: transparent url(../images/radio-0.png) 0 0 no-repeat;
						line-height: 21px;
					}
					

					li.check {
						background: transparent url(../images/radio-1.png) 0 0 no-repeat;
					}
				}

				li {					
					line-height: 20px;
    				margin-bottom: 8px;
    				padding-left: 25px;    				
				}
			}
		}

	    h2 {
	    	color: #e53935;
	    	font-weight: 500;
	    	font-size: 16px;
	    	margin: 0 0 10px;	    	
	    }

	    .btn.btn-yellow.btn-apply-full {
		    border-radius: 0;
		    box-shadow: none;
		    line-height: 45px;
		    margin-top: 30px;
		}
	}
}

 ul.sort-list {
 	padding: 0;
 	list-style: none;

 	li {
 		border-bottom: 1px solid #ccc;
 		cursor: pointer;
	    font-size: 14px;
	    padding: 15px 15px 15px 45px;

 		&.check {
 			background: transparent url(../images/check.png) 15px 11px no-repeat;
 		}
 	}
 }

.litebox-slide.active {
	.navbar {

	}
}

 .litebox-slide {
 	.navbar {
 		position: absolute; 		 		 		
 		z-index: 10;
 		top: 0;
 		width: 100%;
 	}

 	.litebox-body {
 		padding-top: 70px;
 	}

 	.header .navbar-toggle {
 		float: right;
 		border-left: 1px solid #9a0500;
 		border-right: none;
 	}
 }

 .blockUI {
 	&.blockMsg {
 		background-image: url("../images/loader.gif");
	    background-position: center 9px;
	    background-repeat: no-repeat;
	    padding: 50px 2px 6px !important;
	    top: 145px !important;
 	}
 }