/* variables */
$font: 'Cabin', sans-serif;
$bg-peach: #ffecb3;
$bg-red: #c90600;
$bg-red2: #b70f00;
$bg-red-footer: #b70802;
$bg-red-hover: #db1a1a;
$color-red: #c90600;
$color-grey: #e1e1e1;
$color-dark-grey: #66777f;
$color-black: #45403f;
$color-lite-grey: #f5f5f5;
$color-yellow: #f4cb00;
$color-yellow-hover: #ffef61;
$color-yellow-active: #f5e131;

$font-blue: #243c7b;
$font-color-yellow-active: #c90600;
$bg-odd: #f5f5f5;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,600,700);
/***********************************
 GLOBAL
 ***********************************/
body {	
  font: 13px $font;  
  color: $color-black;
}

.lite-grey-bg {
	background: $color-lite-grey;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
}

h5 {
	font-size: 22px;
}

h1 {
	color: $color-dark-grey;
	font-family: $font;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 15px;
}

h2 {
	font-size: 20px;
}

a {
	color: $color-red;
	/*text-decoration: underline;*/
}

a:hover {
	color: $color-red;
	text-decoration: none;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.red-text {
	color: $color-red;
}

.stuck {
	position: fixed;
 	transition: all 0.5s;
 	z-index: 100;
 	top: 0;
}
/***********************************
 ELEMENT: HEADER
 ***********************************/
 .header {
 	background: #ffffff;
 	border: none;
 	color: #ffffff;
 	height: 61px;
 	margin-bottom: 0;

 	.container {
 		padding: 0;
 	}

 	.navbar-brand {
 		background: transparent url(../images/logo.png) 0 center no-repeat;
 		color: #ffffff;
	    float: left;
	    font-size: 18px;
	    line-height: 50px;
	    margin-left: 15px;
	    padding: 0  5px;
	    text-indent: -999999px;
	    width: 130px;
	    height: 61px;

	    &:hover {
	    	color: #ffffff;
	    }
	}
	.navbar-brand span {
		font-weight: 500;
	}

	.navbar-toggle {
		border: none;
		border-radius: 0;		
		border-right: 1px solid #9a0500;
		color: #ffffff;
	    float: left;
	    height: 55px;
	    margin: 0;
	    padding: 0 15px;
		

		&:hover, &:focus {
			background: none;
		}
		.icon-bar {
			background: #ffffff;
		}	
	}
 }

 .navbar-toggle .icon-bar {
    width: 19px;
 }

 .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.search-header-container {
	margin: 0;
	padding: 10px;
}

.navbar {
	border-radius: 0;
}

.below-nav {	
	margin-top: -20px;
	margin-bottom: 15px;

	&.search-container {
		background:$bg-red2;
		color: #ffffff;
	}
}

.navbar-default .navbar-nav > li {
	background-image: url(../images/menu-separator.png);
	background-position: right 0;
	background-repeat: repeat-y;

	&.active > a,
	&.active > a:hover,
	&.active > a:active,
	&.active > a:focus,
	&.open > a,
	&.open > a:focus {
		background: none;
		color: #666666;
	}

	& > a {
		color: #666666;
		font-size: 14px;
		font-weight: 500;
		line-height: 31px;
		transition: all 0.4s;
	}

	& > a:hover {
		color: #666666;		
	}
	
	& > a.recently-seen {
		background: transparent url(../images/history.jpg) 0 center no-repeat;
		padding-left: 25px;
	}
	.dropdown-menu {
		left: 0;
		right: auto;
		transition: all 0.2s;
	}
}

#navbar {
	.btn-group {
	    padding-top: 14px;
	    margin-left: 10px;
	}
	
	.caret {		
		margin-left: 10px;
	}

	.glyphicon,
	.fa {
		font-size: 12px;
		margin-right: 5px;
	}
}

.navbar .flag {
    margin-right: 2px;
}

/***********************************
 SLIDESHOW HOMEPAGE
 ***********************************/
.homepage-hero {	
	position: relative;
	
	.homepage-slideshow {
		position: relative;
		overflow: hidden;
		z-index: 10;		
	}

	.slideshow-image-container {
		max-height: 470px;
		overflow: hidden;

		img {
			height: 100%;
			width: auto;
		}
	}
	
	.slideshow-description {
		padding: 20px 0;
		position: relative;

		.triangle {
			background: transparent url(../images/kancut.png) 0 0 no-repeat;
			display: block;			
			position: absolute;
			top: -34px;
			left: 10px;
			width: 30px;
			height: 14px;
		}
		h2 {
			margin: 0 0 5px;
		}

		.description {
			line-height: 22px;
			margin-bottom: 5px;
		}
	}	

	.lower-price-container  {
		margin-top: 45px;
		padding: 15px 0;		
	}	
}

.search-container {
	top: 120px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100;

	.heading {
		color: #ffffff;
		font-size: 55px;
		font-weight: 700;
		margin: 0;
		line-height: 1.2em;

		span {
			color: #f4cb00;
		}
	}
	
	.subheading {
		color: #ffffff;
		font-size: 23px;
		font-weight: normal;
		margin-bottom: 110px;
	}

	.search-form-item {
		/*margin-bottom: 15px;*/
	}

	.btn-search {
		border: none;
		border-radius: 0 4px 4px 0;
		box-shadow: none;
		background: #c90600;
		color:#ffffff;
		font-weight: 600;
		height: 50px;
		display: block;
	    font-size: 13px;
	    margin: 0;
	    padding: 10px 40px;

	    &:hover {

	    }
	}
}

.btn-search {
	border: none;
	border-radius: 0 4px 4px 0;
	box-shadow: none;
	background: #c90600;
	color:#ffffff;
	font-weight: 600;
	height: 50px;
	display: block;
    font-size: 13px;
    margin: 0;
    padding: 10px 40px;

    &:hover {
		background: #c90600;
		color:#ffffff;
    }
}

.search-group {
	position: relative;

	& > div {
		padding: 0;
		position: relative;
		z-index: 2;
	}

	.form-control {
		background: #ffffff;
		border: none;
		border-radius: 0;
		color: #6e6e6e;
		font-size: 15px;
		height: 50px;
		width: 100%;
	}

	#srch-term {
		border-radius: 4px 0 0 4px;
		border-right: 1px solid #e1dfd4;
		padding-left: 20px;
	}

	.search-result-container {
		background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
		display: none;    
	    left: 0;
	    max-height: 200px;
	    position: absolute;
	    right: 66px;
	    top: 47px;
	    overflow-y: scroll;
	    padding-top: 3px;
	    z-index: 1;

	    ul {
	    	list-style: none;
	    	margin-bottom: 0;
	    	padding: 0;

	    	li {
	    		border-bottom: 1px solid #e4e2d8;
	    		color: #333333;
	    		cursor: pointer;
	    		font-size: 15px;
	    		line-height: 1.2em;
	    		padding: 15px 20px;	    		
	    		transition: all 0.2s;
	    	}

	    	li:hover {
	    		background: #f0cd18;
	    	}	    	
	    }

	    &.active {
	    	display: block;
	    	overflow: inherit;
	    }
	}
}
.check-in-out-container {
	position: relative;
	
	.check-in-container,
	.check-out-container {
		width: 50%;
		float: left;
	}

	input {
		font-size: 13px;
		text-align: center;
		width: 100%;
	}

	.input-datepicker {
		font-size: 13px!important;
	}
	
	
}

.form-group {
	margin-bottom: 0;
}

.calendar-element {
	background: #ffffff url("../images/icon-calendar.png") no-repeat scroll 0 0;
	display: block;
	width: 18px;
	height: 19px;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -11px;
	position: absolute;
}
.check-in-input {
	padding-right: 18px;
}

.check-out-input {
	padding-left: 15px;
}
.guests-select {
	background: #ffffff url("../images/icon-arrow-down.png") no-repeat scroll right center;
    padding-right: 30px;
}
	
.slideshow-paging {
    color: #ffffff;
    position: absolute;
    right: 20px;
    top: 380px;
    z-index: 100;

    > span {
    	background: transparent url(../images/pager-sprites.png) 0 0 no-repeat;
    	display: inline-block;
    	width: 18px;
    	height: 36px;
    	text-indent: -99999px;    	
    }

    > span.cycle-pager-active {
    	background-position: right 0;
    }
}

/***********************************
 BELOW HERO
 ***********************************/
.below-hero {
	background: #f2f2f2;
	margin-bottom: 50px;
	padding: 45px 0;

	h3 {		
		color: #c90600;
		font-size: 23px;
		margin-bottom: 15px;		
		line-height: 40px;

		img {
			margin-top: -4px;
		}
	}

	p {
		color: #666666;
		font-size: 14px;
		line-height: 1.4em;
	}
}

.center-heading-container {
	color: #333333;
	margin-bottom: 45px;

	h2 {
		font-size: 23px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	h4 {
		color: #666666;
		font-weight: normal;
		font-size: 14px;		
	}
}

.top-destination-container {
	margin-bottom: 30px;
}

.top-destination-item {
	cursor: pointer;
	margin-bottom: 30px;
	position: relative;

	img {
		width: 100%;
	}
	
	.overlay {
		background: #000000;		
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		bottom: 0;
		opacity: 0;
		transition: all 0.4s;
		z-index: 1;
	}

	.description {
		color: #ffffff;
		position: absolute;
		top: 50%;
		left: 20px;
		right: 20px;
		margin-top: -25px;
		z-index: 2;

		h4 {
			font-weight: 700;
			font-size: 23px;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		.total {
			border-top: 2px solid #ffffff;
			display: inline-block;
			font-weight: 700;
			font-size: 17px;
			padding-top: 5px;
		}
	}
}

.top-destination-item:hover {
	.overlay {
		opacity: 0.4;
	}
}

.banner-container {
	img {
		width: 100%;
	}
}

/***********************************
 SEARCH RESULT PAGE
 ***********************************/

.search-result-text-container {
	background: #f5f5f5;
	font-size: 14px;
	padding: 25px 0;
}

.more-search-container {
	background: #7c0d09;
	max-height: 0;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	padding: 0;
	transition: all 0.3s;
	
	.container {
		position: relative;
	}
	.search-group {
		/*margin: 20px 0;*/
	}

	&.in-homepage .search-group .search-result-container {
		right: 31px;
	}

	.search-group .search-result-container {
		right: 0;
	}
		
	&.active {		
		max-height: 90px;
		padding: 20px 0;
	}	
	
	&.active.predictive-active {		
		overflow: inherit;
	}	

	.btn-search {
		display: block;
		width: 100%;
	}
}

.open-change-date {
	margin-left: 15px;
}

.triangle-container {
	background: transparent url(../images/triangle-2.png) right 0 no-repeat;
	bottom: -25px;
	display: block;
    height: 10px;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 25px;   
    width: 19px;
    transition: all 0.1s;

    &.active {
    	opacity: 1;
    }
}

.search-result-page .daterangepicker.openscenter {
    left: 537px !important;
}

.search-result-page .daterangepicker.openscenter::before,
.search-result-page .daterangepicker.openscenter::after {
    right: -60px;
}

.hotel-lists {
	
	.banner-container {
		margin-bottom: 20px;
	}

	.hotel-item {
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		cursor: pointer;
		display: table;
		margin-bottom: 20px;
		width: 100%;

		.image-container {
			display: table-cell;
			padding: 15px 20px 15px 15px;
			width: 190px;
			vertical-align: top;
			
			img {
				width: 100%;
				height: auto;
			}
		}

		.description-container {
			display: table-cell;
			padding: 15px 0;
			width: auto;
			vertical-align: top;		
			
			.hotel-name {
				color: #2e2e2e;
			    font-size: 20px;
			    line-height: 1.1em;
			    margin-bottom: 9px;
			    padding-right: 20px;
			}				
						
			.hotel-price-container {
				border-top: 1px solid #e3e3e3;
				margin-top: 5px;
				padding: 15px 20px 0 0;
				
				.price {
					color: #c90600;
					font-size: 18px;
					float: left;
					line-height: 41px;
				}
				
			}
		}
	}
}

.button-choose-room {
	background: transparent url(../images/btn-go-room.png) 0 0 no-repeat;
	color: #ffffff;
	display: block;
	font-size: 14px;
	float: right;
	text-align: left;
	padding-left: 23px;
	width: 168px;
	height: 41px;
	line-height:41px;
}

.star-rating-container {
	border: 1px solid #f1c900;
	border-radius: 12px;
	display: inline-block;
	height: 24px;
	margin-bottom: 5px;
	padding: 5px 7px;

	.star {
		background: #ffffff url(../images/icon-star.png) 0 0 no-repeat;
		display: block;
		float: left;
		width: 12px;
		height: 12px;
		margin: 0 2px;
	}
}

.hotel-type {
	background: transparent url(../images/icon-hotel-type.png) 0 0 no-repeat;
	color: #999999;				
	float: left;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 5px;
	width: 80px;
	padding-left: 20px;
}

.location {
	background: transparent url(../images/icon-location.png) 0 0 no-repeat;
	color: #999999;				
	float: left;
	font-size: 14px;
	line-height: 17px;
	width: 240px;
	padding-left: 20px;
}

.side-menu {

	.header-container {
		background: #f5f5f5;
		color: #2e2e2e;
		height: 40px;
		padding: 0 25px;		

		h3 {
			font-size: 14px;
			font-weight: 500;
			height: 40px;
			margin: 0;
			line-height: 40px;
			text-transform: uppercase;
		}
	}
}

.accordion-container {
	margin-bottom: 1px;

	.accordion-header {
		background: #f1c900 url(../images/icon-accordion-close.png) 25px 13px no-repeat;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		padding: 0 25px 0 50px;	
		line-height: 40px;
	}
	
	.accordion-body {
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s;
	}
	&.opened {
		.accordion-header {
			background: #f1c900 url(../images/icon-accordion-open.png) 25px 15px no-repeat;
		}

		.accordion-body {			
			max-height: 500px;
		}
	}
	
}

ul.checkbox {
	padding: 0;
	list-style: 0;

	li {
		background: transparent url(../images/checkbox-0.gif) 25px 3px no-repeat;
		cursor: pointer;
		padding: 0 0 0 50px;
		margin-bottom: 10px;
	}
	li:hover {
		background-image: url(../images/checkbox-2.gif);
	}
	li.checked {
		background-image: url(../images/checkbox-1.gif);
	}
}

ul.radio {
	padding: 0;
	list-style: 0;

	li {
		background: transparent url(../images/radio-0.gif) 25px 3px no-repeat;
		cursor: pointer;
		padding: 0 0 0 50px;
		margin-bottom: 10px;
	}
	li:hover {
		background-image: url(../images/radio-2.gif);
	}
	li.checked {
		background-image: url(../images/radio-1.gif);
	}
}

.sort-tabs-header {
	background: #f5f5f5;
	color: #2e2e2e;
	height: 40px;
	padding: 0 15px;		
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	margin: 0 0 18px;
	line-height: 40px;
	

	h3 {
		float: left;
		font-size: 14px;
		font-weight: 500;
		line-height: 40px;
		margin: 0 25px 0 0;
		text-transform: uppercase;
	}

	.sort-tab {
		float: left;
		padding: 0;
		list-style: none;

		li {
			border-right: 1px solid #ffffff;
			cursor: pointer;
			float: left;
			padding: 0 25px;
			line-height: 40px;
			font-weight: 600;
			position: relative;
			transition: all 0.1s;
		}
		
		li:hover {
			background: #faeead;
		}
		li.active {
			background: #f1c900;
		}

		li.active .arrow{
			background: transparent url(../images/arrow-yellow.gif) 0 0 no-repeat;
			display: block;		
			height: 6px;
			bottom: -6px;
			left: 50%;
			margin-left: -5px;
			position: absolute;
			width: 11px;
		}
	}
}

.pagination-container {
	background: #f5f5f5;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	padding: 0 20px;
	
	.prev {
		cursor: pointer;
		float: left;		
		margin-right: 30px;
	}

	.next {
		cursor: pointer;
		float: right;
		margin-left: 30px;
	}

	ul.pagination-list {
		list-style: none;
		padding: 0;
		margin-bottom: 20px;
		float: left;

		li {
			cursor: pointer;
			display: inline-block;
			padding: 0 10px;
		}

		li.active {
			background: #ffffff;
			color: #c90600;
		}
	}
}

/***********************************
 ROOM DETAIL PAGE
 ***********************************/
.breadcrumb {
	color: #666666;
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0;

	a {
		background: transparent url(../images/chevron-yellow.gif) right 4px no-repeat;		
		padding-right: 15px;
		margin-right: 8px;
	}
}

.hotel-header-row {
	margin-bottom: 20px;

	h1 {
		color: #2e2e2e;
		font-size: 25px;
		float: left;
		max-width: 70%;
		line-height: 26px;
	}

	.star-rating-container {
		float: left;
		margin-left: 10px;
		margin-top: 1px;
	}
}

.hotel-tab {
	border: 1px solid #e3e3e3;
	display: table;
	font-size: 14px;
	list-style: none;
	margin-bottom: 2px;
	padding: 0;
	width: 100%;

	li {		
		display: table-cell;
		width: 20%;
		padding: 0;
		line-height: 30px;		

		a {
			color: #2e2e2e;
			display: block;
			border-right: 1px solid #e3e3e3;
			line-height: 30px;

			&:hover {
				color: #c90600;
			}
		}
	}

	li:last-child a {
		border: none;
	}
}

.no-padding-right {
	padding-right: 0!important;
}

.no-padding-left {
	padding-left: 0!important;
}

.hotel-image-description-container {
	margin-bottom: 45px;

	.slideshow-container {
		#image-big {
			div {
				width: 100%;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.slideshow-thumb-container {
			display: flex;
			height: 44px;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 4px;
			padding: 0 12px;

			#image-thumb {
				display: block;
				margin: 0 auto;
			    text-align: center;
			    width: 90%;

				> div {					
					float: left;
					margin: 0 4px;						

					img {
						border: 3px solid #ffffff;
						cursor: pointer;
					}
				}

				.cycle-slide-active img {
					border-color: #c90600;
				}
				

			}
		}		
	}

	.right-section {
		background: #f5f5f5;
		padding: 30px 20px;
		text-align: center;

		.button-choose-room {
			float: none;
			margin: 0 auto 25px;
		}

		.button-choose-room:hover {
			color:#ffffff;
		}
	}
}

#prev-slide {
	background: transparent url(../images/btn-prev-slideshow.gif) 0 0 no-repeat;
	cursor: pointer;
	display: block;	
	margin-top: 13px;
	width: 10px;
	height: 18px;
}

#next-slide {
	background: transparent url(../images/btn-next-slideshow.gif) 0 0 no-repeat;
	cursor: pointer;
	display: block;	
	margin-top: 13px;
	width: 10px;
	height: 18px;
}

.cycle-carousel-wrap {
	right: 0;
}

.start-from {
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
}

.old-price {
	font-weight: bold;
}

.price {
	color: #c90600;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 15px;
}

.main-facilities {
	border: 1px solid #dddddd;
	border-radius: 6px;
	margin-bottom: 25px;
	padding: 15px 10px;

	h3 {
		color: #333333;
		font-weight: bold;
		font-size: 14px;
		margin: 0 0 10px;		
	}

	ul.facilities-list {
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 3px;
		}
	}
}

.tripadvisor {

	h3 {
		color: #57912f;
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 15px;
	}

	.tripadvisor-rating {
		background: transparent url(../images/burungantu.gif) 0 0 no-repeat;
		display: inline-block;
		height: 24px;
	    margin: 0 auto 15px;
	    padding-left: 40px;
	    width: auto;

		.star {
			background: transparent url(../images/trip-star.gif) 0 0 no-repeat;
			float: left;
			display: block;
			margin-top: 2px;
			width: 17px;
			height: 17px;
		}
	}

	.description {
		margin: 0 auto;
		width: 150px;
	}
}


.nearby-attraction-container {
	margin-bottom: 40px;

	h2 {
		font-size: 24px;
		line-height: 1.2em;
	}

	ul.nearby-list {
		list-style: none;
		padding: 0;

		li {
			background: transparent url(../images/check-small.gif) 0 1px no-repeat;
			color: #666666;
			float: left;
			font-weight: 500px;
			font-size: 14px;			
			margin: 0 0 20px;
			width: 33.3%;
			padding-left: 20px;	
		}
	}
}

.banner-in-hotel-detail {
	margin-bottom: 20px;
}

.room-availability-header-container {
	margin-bottom: 20px;
	
	h2 {
		font-size: 24px;
		line-height: 1.2em;
		margin: 0;
	}

	.box-grey {
		color: #2e2e2e;
		font-size: 17px;
		padding: 18px 30px;
	}

	.date-range {
		float: left;
	}
}

.box-grey {
	background: #f5f5f5;
}

.room-list-container {

	.header {
		background: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		color: #2e2e2e;
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;
		height: 30px;
		margin-bottom: 5px;
		padding: 0;

		.item {
			float: left;
			border-right: 1px solid #e3e3e3;
			padding: 0 20px;
		}

		.room-type {
			width: 360px;
		}

		.max-guests {
			width: 110px;
		}

		.no-rooms {
			width: 135px;
		}

		.price-room {
			width: 195px;
		}
		
		.pernight-total {
			border: none;
			padding-left: 15px;
		}
		.option-pernight-total {
			list-style: none;
			font-size: 10px;
			padding: 0;

			li {
				background: transparent url(../images/radio-small-0.gif) 0 center no-repeat;
				float: left;
				margin-bottom: 0;
				margin-top: -1px;
				padding-left: 17px;
				line-height: 1.2em;

				&:hover {
					background-image: url(../images/radio-small-2.gif);
				}

				&.checked {
					background-image: url(../images/radio-small-1.gif);
				}
			}

			li:first-child {
				margin-right: 5px;
			}
		}
	}
}

.room-item {
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 5px;
	padding: 15px;

	h3 {		
		color: #2e2e2e;
		font-size: 17px;
		margin: 0 0 5px;		
	}

	.breakfast {
		background: transparent url(../images/icon-breakfast.gif) 0 -2px no-repeat;
		color: #999999;
		font-size: 10px;
		padding-left: 25px;

		&.no-breakfast {
			background-position: 0 -15px;
		}
	}

	.btn-room-detail {
		.fa {
			margin-right: 2px;
		}

		.fa-chevron-up {
			display: none;
		}
	}

	.btn-room-detail.opened {
		
		.fa-chevron-down {
			display: none;
		}
	}

	.room-type {
	    width: 345px;
	}
}
 /***********************************
 ELEMENT: FORM
 ***********************************/
 .form-control {
 	box-shadow: 0 0 0;

 	&:focus {
 		border-color: #cccccc;
 		box-shadow: 0 0 0;
 	}
 }

 .btn-lup {
 	border-left: none;
 	color: #cccccc;

 	&:hover, &:focus {
 		background: none;
 		border-color: #cccccc;
 		border-left: #ffffff 1px solid;
 		color: #cccccc;
 		cursor: inherit;
 	}
 }


 .btn-red {
 	background: #f50000 none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px #cccccc;
    color: #ffffff;
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;

    &:hover, &:focus, &:active {
    	background: $bg-red-hover;
    	color: #ffffff;
    }
 }

 .btn-yellow {
 	background: $color-yellow;
 	box-shadow: 0 2px 5px #cccccc;
 	color: $color-red;
 	display: block;
 	font-family: "Roboto";
 	font-weight: 500;
 	font-size: 18px;
 	height: 45px;
 	margin: 0 auto;
 	padding: 0 25px;

 	&:hover {
 		background: $color-yellow-hover;
 		color: $color-red;
 	}

 	&:focus, &:active {
 		background: $color-yellow-active;
 		color: $color-red;
 	}
 }

 .btn-yellow2 {
 	background: $color-yellow;
 	box-shadow: 0 2px 5px #cccccc;
 	color: #000000;
 	display: block; 	 	
 	font-size: 15px;
 	font-weight: bold;
 	height: 45px;
 	margin: 0 auto;
 	padding: 0 25px;

 	&:hover {
 		background: $color-yellow-hover;
 		color: #000000;
 	}

 	&:focus, &:active {
 		background: $color-yellow-active;
 		color: #000000;
 	}
 }

.btn-yellow-small {
 	background: $color-yellow;
 	border-color: $color-yellow;
 	color: $bg-red;

 	&:hover {
 		background: $color-yellow-hover;
 		border-color: $color-yellow-hover;
 		color: $bg-red;
 	}

 	&:focus, &:active {
 		background: $color-yellow-active;
 		border-color: $color-yellow-active;
 		color: $bg-red;
 	}
 }

.btn-roomboz {
	border-radius: 4px;
	border: none;
	box-shadow: none;
}

 .btn-default.active.focus, 
 .btn-default.active:focus, 
 .btn-default.active:hover, 
 .btn-default.focus:active, 
 .btn-default:active:focus, 
 .btn-default:active:hover, 
 .open > .dropdown-toggle.btn-default.focus, 
 .open > .dropdown-toggle.btn-default:focus, 
 .open > .dropdown-toggle.btn-default:hover {
 	background: inherit;
 }

 .col-xs-6 {

 	&.first-col {
 		padding-right: 5px;
 	}

 	&.second-col {
 		padding-left: 5px;
 	}
 }

 .disabled { 	 	
 	border-color: #cccccc;

 	& > * {
 		/*opacity: 0.4;*/
 	}
 }

 .search-2-container { 	
 	padding: 6px 15px 4px;

 	button {
 		background: none;
 		border: none;
 		color: #ffffff;
 		float: left; 	
 		padding-left: 0;
 		width: 25px;

 		&:hover {
 			background: none;
 			color: #ffffff;
 		}
 	}

 	.form-group {
 		display: inherit!important;
 		margin-bottom: 0;
 		overflow: hidden;
 	}

 	input {
 		background: transparent;
 		border: none;
 		border-radius: 0;
 		color: #ffffff !important;
	    height: 32px;
	    padding: 0;
 	}

 	.form-control::-moz-placeholder {
 		color: #ffffff;
 	}
 }

 .form-inline .form-group {
 	display: inline-block;
 }

 .sort-tab-container{
	margin-bottom: 15px;

 	.btn {
	 	border-radius: 0;
	 	color: $color-red;
	 	font-size: 14px;
	 	padding: 3px 12px;

	 	&:hover, &:active {
	 		background: $bg-red;
	 		border-color: $bg-red;
	 		color: #ffffff;
	 	}
	 }
 } 
 
 /***********************************
 ELEMENT: BODY TENGAH
 ***********************************/
 .body-container { 	
 	margin-bottom: 20px;
 	min-height: 290px;
 }

 .medium-heading {
 	color: $color-red;
 	font-size: 16px;
 }

 .with-border-bottom {
 	border-bottom: 1px solid #ededed;
 }

/***********************************
 HOMEPAGE
 ***********************************/
 .homepage-left-section {
 	h3 {
 		font-weight: normal;
 		margin-bottom: 40px;
 		padding-left: 20px;
 	}

 }
.feature-item {
	border-bottom: 1px solid #edf0f5;
	margin-bottom: 25px;
	padding-bottom: 25px;

	h4 {
		color: $font-blue;
		font-size: 18px;
		font-weight: bold;
		margin-top: 5px;
	}	
}

.main-destination-item {
	border-bottom: 1px solid #edf0f5;
	margin-bottom: 5px;
	padding-bottom: 5px;		

	> div {
		float: left;
	}

	.destination-item-image-container {				
		width: 155px;

		img {

		}
	}

	.destination-description {
		padding-top: 20px;

		h2 {
			font-size: 22px;
			font-weight: normal;
			margin-bottom: 10px;
		}

		h3 {
			font-size:15px;
			font-weight: normal;
			margin-bottom: 30px;
		}
	}

	&:hover{
		background: #fffaea;
	}
}

.more-destination {
	margin-top: 10px;

	a {
		font-size: 16px;
		font-weight: 500px;
	}
}
 /***********************************
 ELEMENT: FOOTER
 ***********************************/
 .footer-container {
	background: #f2f2f2 url(../images/bg-footer.jpg) 0 0 no-repeat;
 	padding: 55px;

 	.download-section {
 		min-height: 290px; 

 		h5 {
			color: #333333;
			font-weight: bold;
			font-size: 23px;
			margin-bottom: 30px;
		}	

 	}
	
	h5 {
		color: #333333;
		font-weight: bold;
		font-size: 15px;		
		margin-bottom: 20px;
	}

	ul.menu-footer {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 8px;
		}

		a {
			color: #666666;
			font-size: 14px;
		}

		a:hover {
			color: #b00c07;
		}
	}

 	.footer-section {
 		color: #666666;
 		border-top: 2px solid #f1c900;
		margin-top: 25px;
 		padding-top: 25px;
		

 		h6 {
 			font-weight: 700;
 			font-size: 14px;
 			margin-bottom: 15px;
 		}

 		img {
 			margin: 0 10px;
 		}
				
 		.socmed-section {
 			margin-bottom: 20px;
 		}
 	}
 }

/***********************************
 ELEMENT: sliding container
 ***********************************/
.sliding-page-container {	
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sliding-page-container .inner {
	width: 300%;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.page {
	background: #f5f5f5;
	float: left;
	position: relative;
	width: 33.333%
}

 /***********************************
 ELEMENT: book container
 ***********************************/
 .book-container {
 	padding: 15px;

 	.btn {
 		border: none;
 		box-shadow: none;
 		padding-left: 0;
 		padding-right: 0;
 		width: 100%; 		
 	}
 }
 /***********************************
 ELEMENT: datepicker
 ***********************************/
 .datepicker-container {
 	display: none;
 	margin-bottom: 15px;

 	&#datepicker-checkin {
 		display: block;
 	}
 }

 .ui-datepicker-inline {
 	width: 100%;

 	&.ui-widget-content {
 		background: #ffffff;
 		padding-left: 0;
 		padding-right: 0;
 	}

 	.ui-widget-header {
 		background: #ffffff;
 		border-radius: 0;
 		border: none; 		
 		border-bottom: 1px solid #cccccc;
 		color: $color-red;
 		font-weight: normal;
 		font-size: 14px;

 		.ui-icon {
 			background-image: url("images/ui-icons-hotelboz.png");
 		}
 	}

 	.ui-icon {
	    height: 17px;
	    width: 17px;
	}

	.ui-icon-circle-triangle-w {
	    background-position: -77px -189px;
	}

 	.ui-icon-circle-triangle-e {
	    background-position: -46px -189px;
	}	
 }

 .ui-datepicker-next-hover {
	background: none!important;
	border-color: #ffffff!important;
	box-shadow: 0 0 0!important;
	right: 2px!important;
	top: 2px!important;
 }

 .ui-widget-content .ui-state:hover,
 .ui-datepicker-prev-hover {
	background: none!important;
	border-color: #ffffff!important;
	box-shadow: 0 0 0!important;
	left: 2px!important;
	top: 2px!important;
 }

 /* date */
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 1px solid #ffffff;
    color: #999999;
    font-weight: normal;
    text-align: center;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
	font-weight: normal;
}

.ui-widget-content .ui-state-active {
	color: $color-red;
	font-weight: bold;
}

.ui-autocomplete {
	background: #ffffff;
    border-radius: 0 0 4px 4px;
    border-top: medium none;    
    left: 15px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    right: 16px;    
    width: auto !important;
}

/***********************************
 ELEMENT: DATERANGPICKER
 ***********************************/
.daterangepicker.openscenter {
	left: 583px!important;
}

.daterangepicker.openscenter::before {
	right: -128px;
}

.daterangepicker.openscenter::after {
	right: -128px;
}

.daterangepicker th.month,
.prev .fa,
.next .fa {
	color: #c90600;
}

.daterangepicker td.start-date.end-date {
	border-radius: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover,
 .daterangepicker td.in-range.end-date {
	background: #a00500;
}

.daterangepicker td.in-range,
.daterangepicker td.available:hover {
	background: #c90600;
	color: #ffffff;
}

.daterangepicker td.available:hover {
	background: #d94d49;
	color: #ffffff;
}

.daterangepicker td.in-range.off.end-date {
	background: #ffffff;
}

tbody td {
    font-size: 12px;
    line-height: 21px;
}

/***********************************
 ELEMENT: LITEBOX
 ***********************************/
 #cboxContent {
 	margin-top: 0;
 }

 #cboxLoadedContent {
 	border: none;
 }

 #cboxClose {
 	display: none;
 }

 .litebox-container {
 	display: none;
 }

 .litebox .header {
 	line-height: 55px;
 	font-weight: 500;
 	font-size: 20px; 	
 }

 .close-litebox {
		cursor: pointer;
		font-size: 26px;
		line-height: 55px;
	}

.litebox-body {
	overflow-y: auto;
}

 ul.sort-list {
 	padding: 0;
 	list-style: none;

 	li {
 		border-bottom: 1px solid #ccc;
 		cursor: pointer;
	    font-size: 14px;
	    padding: 15px 15px 15px 45px;

 		&.check {
 			background: transparent url(../images/check.png) 15px 11px no-repeat;
 		}
 	}
 }